/* Footer */
footer {
  padding: 30px;
  color: inherit;
  font-size: 12px;
  color: #9b9b9b;
  background-color: #262626;
}

.footer_menu ul,
.footer_menu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.footer_menu li a {
	font-size: 12px;
	font-weight: bold;
	color: #ca1212;
}

.footer_logo img:hover {
  background: url(img/design/sixsq_logo_52px.png) no-repeat center top 2px;
}

.adress_copyright {
	font-size: 12px;
}

.address_copyright .design a {
	color: #EDEDED;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
}

.contact_us span {
	font-size: 14px;
	color: #EDEDED;
}

.contact_us .phone,
.contact_us .mail {
	display: block;
	padding: 10px 0px 5px 30px;
}

.contact_us .phone {
	background: transparent url(img/design/icon_phone.png) no-repeat scroll left 12px;
}

.contact_us .mail {
	background: transparent url(img/design/icon_mail.png) no-repeat scroll left 18px;
}

.contact_us a {
	color: #EDEDED;
}

.follow_us a div {
  height: 40px;
  width: 40px;
  margin:  14px 8px 0px 0px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

#footer_logo_twitter {
  background-image: url(/img/design/social_logos/twitter.png);
}

#footer_logo_twitter:hover {
  background-image: url(/img/design/social_logos/twitter_hover.png);
}

#footer_logo_googleplus {
  background-image: url(/img/design/social_logos/googleplus.png);
}

#footer_logo_googleplus:hover {
  background-image: url(/img/design/social_logos/googleplus_hover.png);
}

#footer_logo_linkedin {
  background-image: url(/img/design/social_logos/linkedin.png);
}

#footer_logo_linkedin:hover {
  background-image: url(/img/design/social_logos/linkedin_hover.png);
}
