#main-navbar.in > ul {
  padding-top: 20px;
}

.navbar-inverse .navbar-text {
  color: #bababa;
}

.navbar-inverse .navbar-nav>li>a {
  color: #bababa;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav li.active {
  font-weight: bold;
}

.navbar-nav li.active > span {
	display: block;
	position: absolute;
	left: 50%;
	bottom: -1px;
	margin-left: -6px;
	width: 12px;
	height: 4px;
	background: url('/img/design/navbar_arrow.png') left 0 no-repeat !important;
}

.nav-sub li.active {
  font-weight: bold;
}

button.navbar-toggle.collapsed.sub-nav {
  border-color: #D1D1D1 !important;
}

.sub-nav.navbar-toggle:hover, .sub-nav.navbar-toggle:focus {
  background-color: #EEEEEE;
}

.sub-nav.navbar-toggle .icon-bar {
  background-color: #D1D1D1;
}

.nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

