#bxslider li {
	height: 130px;
}

#bxslider a {
	text-decoration: none;
}

.bx-wrapper .bx-controls-direction a {
	top: 60px !important;
}

.bx-prev {
	top: 60px !important;
}

.bx-next {
	right: -2px;
}

