---
layout: front-page
title: SixSq Sarl
---

<p>
This is a mock site for testing the web site layout.  Please see the
production SixSq site at <a href="http://sixsq.com/">http://sixsq.com/.</a>

{% for product in site.categories.products %}
  {% if forloop.index0 < 4 %}
    <div class="product-panel">
      <table>
        <tr>
          <td>
            <ul>
              <li id="post-title">{{product.title}}</li>
              <li id="post-content">{{ product.excerpt }}</li>
              <li id="learn"><a href="{{ product.url }}">Learn more &raquo;</a></li>
            </ul>
          </td>
          <td>
            <div id="image">PRODUCT IMAGE</div>
          </td>
        <tr>
      </table>
    </div>
  {% endif %}
{% endfor %}
