
body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;/*14px*/
	color: #232323;
	background: #ffffff url(img/design/body.jpg) repeat-x scroll left top;
}

/* Main content */
body *, body :focus, a {
	outline: none;
}

a {
	text-decoration: none;
	color: #9E0100;
}

img {
	border: none;
}

#wrapper {
	position: relative;
	width: 1008px;
	margin: 0px auto;
}

#content {
	float: left;
	margin: 30px 0px 25px 0px;
}

.not_front_page #content {
	width: 1002px;
	margin: -5px 0px 25px 4px;
	padding-bottom: 12px;
	background: transparent url(img/design/content_bg_bottom.png) no-repeat scroll left bottom;
}

.content_bg {
	float: left;
	width: 1002px;
	background: transparent url(img/design/content_bg.png) repeat-y scroll left top;
}

.main {
	float: left;
	width: 650px;
	padding: 85px 26px 30px 30px;
}

.main h1 {
	margin: 0px;
	line-height: 1;
	font-size: 2.15em;
	color: #a00100;
}

.main h1.list_title {
	color: #545454;
	font-size: 2.35em;
}

.date {
	margin-top: 15px;
	padding-left: 23px;
	font-size: 0.85em;/*12px*/
	color: #949494;
	background: transparent url(img/design/pencil.png) no-repeat scroll left center;
}

.red_text {
	color: #a00100;
}

.floated_left {
	float: left;
	margin: 20px 20px 20px 0px;
}

.floated_right {
	float: right;
	margin: 20px 0px 20px 20px;
}

/* Main menu */
.top {
	position: relative;
	margin: 0px -52px;
	padding: 40px 52px 0px 52px;
	background: transparent url(img/design/top.png) no-repeat scroll center top;
}

.logo {
	position: absolute;
	top: 38px;
	left: 122px;
	display: block;
	width: 99px;
	height: 97px;
	background: transparent url(img/design/logo.png) no-repeat scroll left top;
}

.menu_bar {
	display: block;
	width: 1008px;
	height: 43px;
	background: transparent url(img/design/menu_bar.png) no-repeat scroll center top;
}

.menu_bar ul,
.menu_bar ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.menu_bar ul li {
	float: left;
	height: 43px;
	padding-right: 2px;
	line-height: 43px;
	background: transparent url(img/design/menu_separator.png) no-repeat scroll right top;
}

.menu_bar ul li.home {
	width: 76px;
	margin-right: 90px;
	background: transparent none repeat scroll 0px 0px;
}

.menu_bar ul li.home.active,
.menu_bar ul li.home:hover {
	background: transparent url(img/design/menu_home.png) no-repeat scroll 5px top;
}

.menu_bar ul li a {
	display: block;
	line-height: 43px;
	padding: 0px 27px;
	color: #ffffff;
}

.menu_bar ul li.home a {
	width: 76px;
	height: 43px;
	padding: 0px;
	background: transparent url(img/design/home.png) no-repeat scroll 30px center;
}

.menu_bar ul li a.active,
.menu_bar ul li a:hover {
	background: transparent url(img/design/menu_active.png) repeat-x scroll left top;
}

.menu_bar ul li.home a.active,
.menu_bar ul li.home a:hover {
	background: transparent url(img/design/home.png) no-repeat scroll 30px center;
}

/* Banner */
.banner {
	display: block;
	width: 1008px;
	height: 324px;
	background: transparent url(img/design/banner.png) no-repeat scroll center top;
}

.bx-window {
	width: 850px !important;
	margin-left: 75px;
	height: 300px !important;
}

.bx-wrapper {
	height: 324px;
}

#slider1 {
	height: 324px;
	overflow: hidden;
}

#slider1 div {
	margin-top: 69px;
}

#slider1 div h1,
#slider1 div h3 {
	line-height: 1;
	width: 850px;
}

#slider1 div h1 {
	margin: 0px;
	font-size: 50px;
	color: #279bdc;
}

#slider1 div h3 {
	margin: 15px 0px;
	font-size: 40px;
	font-weight: normal;
	color: #dbdada;
}

#slider1 div p {
	color: #c9c9c9;
	width: 850px;
}

.bx-prev,
.bx-next {
	position: absolute;
	top: 124px;
}

.bx-prev {
	left: 0px;
}

.bx-next {
	right: -2px;
}

/* Breadcrumb */
.breadcrumb {
	position: absolute;
	top: 100px;
	left: 190px;
	display: block;
	width: 790px;
	height: 52px;
	overflow: hidden;
}

.breadcrumb a {
	padding-right: 10px;
	padding-left: 20px;
	font-style: italic;
	font-size: 1.1em;/*15px*/
	color: #8b0000;
	background: transparent url(img/design/arrow_breadcrumb.png) no-repeat scroll left center;
}

.breadcrumb a.first {
	padding-left: 0px;
	background: transparent none repeat scroll 0px 0px;
}

.breadcrumb a.current {
	color: #6c6c6c;
}

/* Sidebar */
.sidebar {
	float: left;
	width: 278px;
	padding-top: 85px;
}

/* Products */
.products div {
	position: relative;
	float: left;
	display: block;
	height: 245px;
	margin-bottom: 12px;
}

.front.products div {
	width: 499px;
}

.sidebar.products div {
	width: 278px;
}

.front.products .stratuslab,
.front.products .ready_pack {
	margin-right: 10px;
}

.front.products .stratuslab {
	background: transparent url(img/design/stratuslab.png) no-repeat scroll left top;
}

.front.products .slipstream {
	background: transparent url(img/design/slipstream.png) no-repeat scroll left top;
}

.front.products .ready_pack {
	background: transparent url(img/design/ready_pack.png) no-repeat scroll left top;
}

.front.products .training_coaching {
	background: transparent url(img/design/training_coaching.png) no-repeat scroll left top;
}

.sidebar.products .stratuslab {
	background: transparent url(img/design/stratuslab_box.png) no-repeat scroll left top;
}

.sidebar.products .slipstream {
	background: transparent url(img/design/slipstream_box.png) no-repeat scroll left top;
}

.sidebar.products .ready_pack {
	background: transparent url(img/design/ready_pack_box.png) no-repeat scroll left top;
}

.sidebar.products .training_coaching {
	background: transparent url(img/design/training_coaching_box.png) no-repeat scroll left top;
}

.products div h2,
.products div p,
.products div a {
	padding-left: 25px;
}

.products div h2 {
	margin: 25px 0px;
	line-height: 1;
	letter-spacing: -2px;
	font-size: 38px;
	color: #4e4e4e;
}

.sidebar.products div h2 {
	margin-bottom: 10px;
}

.products div p {
	margin: 0px;
	font-size: 1.15em;/*16px*/
}

.products div a {
	position: absolute;
	bottom: 25px;
	padding-right: 20px;
	font-style: italic;
	font-size: 1.1em;/*15px*/
	font-weight: bold;
	color: #9e0100;
	background: transparent url(img/design/arrow_red.png) no-repeat scroll right 4px;
}

.front.products .stratuslab h2,
.front.products .stratuslab p,
.front.products .ready_pack h2,
.front.products .ready_pack p {
	width: 260px;
}

.front.products .slipstream h2,
.front.products .slipstream p,
.front.products .training_coaching h2,
.front.products .training_coaching p {
	width: 240px;
}

.sidebar.products h2,
.sidebar.products p {
	width: 230px;
}

/* Pager, News */
.list_news ul,
.list_news ul li,
.pager ul,
.pager ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.pager ul {
	float: right;
}

.pager ul li {
	float: left;
	display: inline-block;
}

.pager ul li a {
	margin: 0px 4px;
	font-size: 0.85em;/*12px*/
	font-weight: bold;
	color: #555555;
}

.pager li.prev a,
.pager li.next a {
	text-transform: uppercase;
	color: #dd0202;
}

.pager li.current a {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1px 5px;
	color: #ffffff;
	background-color: #b30000;
}

.pager li.prev a {
	margin-right: 16px;
	padding-left: 18px;
	background: transparent url(img/design/arrow_prev.png) no-repeat scroll left center;
}

.pager li.next a {
	margin-left: 16px;
	padding-right: 18px;
	background: transparent url(img/design/arrow_next.png) no-repeat scroll right center;
}

.list_news {
	float: left;
	margin-top: 25px;
}

.list_news ul,
.list_news ul li {
	float: left;
	width: 650px;
}

.list_news ul li {
	margin-bottom: 15px;
	padding-top: 20px;
	background: transparent url(img/design/top_frame.png) no-repeat scroll left top;
}

.list_news img {
	float: left;
	margin-right: 20px;
}

.list_news a.title,
.list_news .teaser,
.list_news .date {
	float: right;
	width: 490px;
}

.list_news a.title {
	font-size: 18px;
	font-weight: bold;
	color: #a00100;
}

.list_news a.title:hover {
	color: #111111;
}

.list_news .teaser {
	margin: 10px 0px;
	font-size: 1.15em;/*16px*/
	color: #111111;
}

.list_news .date {
	width: 467px;
	margin-top: 0px;
}

/* Latest staffs */
.front.latest {
	float: left;
	display: block;
	width: 1008px;
	height: 205px;
	margin-top: 15px;
	background: transparent url(img/design/latest.png) no-repeat scroll left top;
}

.front.latest div {
	float: left;
	display: block;
	width: 252px;
	margin-left: 2px;
	padding: 62px 0px 0px 60px;
	color: #9b9b9b;
}

.sidebar.latest div {
	position: relative;
	display: block;
	width: 223px;
	height: 192px;
	margin-bottom: 5px;
	padding: 85px 25px 0px 30px;
	color: #1a1a1a;
}

.sidebar.latest div.blog_entries {
	padding-top: 101px;
}

.latest div h3,
.latest div p {
	margin: 5px 0px;
	font-size: 1.15em;/*16px*/
}


/* DEAL WITH UL USED FOR TWEETS (CAL) */
.latest div p ul {
	margin: 0px;
	list-style: none;
	padding-left: 0em;
	text-indent: 0em;
}

.latest div p ul li a {
	color: #9B9B9B;
	font-size: 0.85em;
	font-weight: normal;
	font-style: normal;
	background: none;
}

.latest div h3 {
	text-transform: uppercase;
	font-size: 1.6em;/*22px*/
	font-weight: normal;
}

.sidebar.latest div h3 {
	font-size: 1.45em;/*20px*/
}

.sidebar.latest div p {
	font-size: 1.15em;/*16px*/
}

.latest div a {
	padding-right: 18px;
	font-style: italic;
	font-size: 1.1em;/*15px*/
	font-weight: bold;
	color: #009dc6;
	background: transparent url(img/design/arrow_blue.png) no-repeat scroll right 4px;
}

.sidebar.latest div a {
	padding-right: 20px;
	color: #9e0100;
	background: transparent url(img/design/arrow_red.png) no-repeat scroll right 4px;
}

.sidebar.latest #sixsq a {
	background: none;
}

.front.latest .news {
	background: transparent url(img/design/news.png) no-repeat scroll 6px 7px;
        margin-right: 22px;
}

.front.latest .tweets {
	background: transparent url(img/design/tweets.png) no-repeat scroll 6px 7px;
        margin-right: 22px;
}

.front.latest .blog_entries {
	background: transparent url(img/design/blog_entries.png) no-repeat scroll 6px 7px;
}

.sidebar.latest .news {
	background: transparent url(img/design/news_box.png) no-repeat scroll left top;
}

.sidebar.latest .tweets {
	background: transparent url(img/design/tweets_box.png) no-repeat scroll left top;
}

.sidebar.latest .blog_entries {
	background: transparent url(img/design/blog_entries_box.png) no-repeat scroll left top;
}

/* Customers */
.customers {
	float: left;
	display: block;
	width: 952px;
	height: 181px;
	margin-left: 3px;
	margin-bottom: 30px;
	padding: 25px;
	background: transparent url(img/design/customers.png) no-repeat scroll left top;
}

.customers h3,
.customers p,
.customers .logos {
	float: left;
}

.customers h3 {
	margin: 10px 0px 0px 0px;
	line-height: 1;
	letter-spacing: -4px;
	font-size: 60px;
	color: #4e4e4e;
}

.customers p {
	margin-left: 30px;
	width: 600px;
}

.customers .logos {
	display: block;
	margin-top: 15px;
}

.customers img {
	margin-left: 3px;
}

/* Footer */
#footer {
	float: left;
	display: block;
	width: 1008px;
	height: 200px;
	color: #9b9b9b;
	background-color: #262626;
}

.footer_menu {
	float: left;
	width: 175px;
	height: 170px;
	padding: 30px 15px 0px 35px;
	background: transparent url(img/design/footer_separator.jpg) no-repeat scroll right top;
}

.footer_menu ul,
.footer_menu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.footer_menu ul li {
	padding-bottom: 5px;
}

.footer_menu li a {
	font-size: 12px;
	font-weight: bold;
	color: #ca1212;
}

.adress_copyright {
	float: left;
	width: 295px;
	height: 170px;
	padding: 30px 15px 0px 25px;
	font-size: 12px;
	background: transparent url(img/design/footer_separator.jpg) no-repeat scroll right top;
}

.adress_copyright div {
	line-height: 1.5;
}

.adress_copyright span {
	font-size: 18px;
	font-weight: bold;
}

.adress_copyright .copyright {
	margin: 20px 0px 0px 0px;
}

.adress_copyright .design a {
	color: #ffffff;
}

.contact_us {
	float: left;
	width: 190px;
	height: 170px;
	padding: 30px 35px 0px 25px;
	line-height: 1.5;
	font-size: 12px;
}

.contact_us span {
	font-size: 14px;
	color: #ffffff;
}

.contact_us .phone,
.contact_us .mail {
	display: block;
	padding: 10px 0px 5px 30px;
}

.contact_us .phone {
	background: transparent url(img/design/icon_phone.png) no-repeat scroll left 12px;
}

.contact_us .mail {
	background: transparent url(img/design/icon_mail.png) no-repeat scroll left 18px;
}

.contact_us a {
	color: #ffffff;
}

.follow_us {
	float: left;
	height: 170px;
	padding: 30px 15px 0px 25px;
}

.follow_us img {
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.tweets > div {
    margin: 0 !important;
    padding: 0 !important;
}