
body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;/*14px*/
	color: #232323;
	background: #E2E2E2;
}

/* Main content */
body *, body :focus, a {
	outline: none;
}

a {
	text-decoration: none;
	color: #9E0100;
}

img {
	border: none;
}

#wrapper {
	position: relative;
	width: 1008px;
	margin: 0px auto;
}

#content {
	float: left;
    margin-top: 10px;
}

.not_front_page #content {
	width: 1002px;
	margin: -5px 0px 5px 4px;
	padding-bottom: 12px;
	background: transparent url(img/design/content_bg_bottom.png) no-repeat scroll left bottom;
}

.content_bg {
	float: left;
	width: 1002px;
	background: transparent url(img/design/content_bg.png) repeat-y scroll left top;
}

.twothirdscolumn {
    width: 650px;
}

.main {
	padding: 35px 28px 30px 28px;
	float: left;
}

.main h1 {
	margin: 0px;
	line-height: 1;
	font-size: 2.15em;
	color: #a00100;
}

.main h1.list_title {
	color: #545454;
	font-size: 2.35em;
}

.main nav {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding=right: 25px;
}

.main nav h1 {
    display: inline;
    float: left;
}

.main nav ul {
    display: inline;
    float: right;
}

.main nav ul li {
    display: inline;
	list-style: none;
	list-style-image: none;
}

.main nav ul li a {
    margin-left:24px; 
}

.date {
	margin-top: 15px;
	padding-left: 23px;
	font-size: 0.85em;/*12px*/
	color: #949494;
	background: transparent url(img/design/pencil.png) no-repeat scroll left center;
}

.red_text {
	color: #a00100;
}

.floated_left {
	float: left;
	margin: 20px 20px 20px 0px;
}

.floated_right {
	float: right;
	margin: 20px 0px 20px 20px;
}

/* Main menu */
.top {
	position: relative;
	margin: 0px -52px;
	padding: 10px 52px 0px 52px;
	/*background: transparent url(img/design/top.png) no-repeat scroll center top;*/
}

.logo {
	position: absolute;
	top: 8px;
	left: 122px;
	display: block;
	width: 99px;
	height: 97px;
	background: transparent url(img/design/logo.png) no-repeat scroll left top;
}

.menu_bar {
	display: block;
	width: 1008px;
	height: 43px;
	background: transparent url(img/design/menu_bar.png) no-repeat scroll center top;
}

.menu_bar ul,
.menu_bar ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.menu_bar ul li {
	float: left;
	height: 43px;
	padding-right: 2px;
	line-height: 43px;
	background: transparent url(img/design/menu_separator.png) no-repeat scroll right top;
}

.menu_bar ul line {
	width: 76px;
	background: transparent none repeat scroll 0px 0px;
}

.menu_bar ul li.home.active,
.menu_bar ul li.home:hover {
	background: transparent url(img/design/menu_home.png) no-repeat scroll 5px top;
}

.menu_bar ul li a {
	display: block;
	line-height: 43px;
	padding: 0px 27px;
	color: #ffffff;
}

.menu_bar ul li.home a {
	width: 76px;
	height: 42px;
	padding: 0px;
	background: transparent url(img/design/home.png) no-repeat scroll 25px center;
}

.menu_bar ul li a.current,
.menu_bar ul li a.active,
.menu_bar ul li a:hover {
	background: transparent url(img/design/menu_active.png) repeat-x scroll left top;
}

.menu_bar ul li.home a.active,
.menu_bar ul li.home a:hover {
	background: transparent url(img/design/home_hover.png) no-repeat scroll 25px center;
}

nav a.current {
	font-weight: bold;
}

/* Banner */
.banner {
	display: block;
	width: 1008px;
	height: 234px;
	background: transparent url(img/design/banner.png) no-repeat scroll center top;
}

.bx-window {
	width: 850px !important;
	margin-left: 75px;
	height: 300px !important;
}

.bx-wrapper {
	height: 324px;
}

#slider1 {
	height: 324px;
	overflow: hidden;
}

#slider1 div {
	margin-top: 52px;
}

#slider1 div h1,
#slider1 div h3 {
	line-height: 1;
	width: 850px;
}

#slider1 div h1 {
	margin: 0px;
	font-size: 50px;
	color: #279bdc;
}

#slider1 div h3 {
	margin: 15px 0px;
	font-size: 40px;
	font-weight: normal;
	color: #dbdada;
}

#slider1 div p {
	color: #c9c9c9;
	width: 850px;
}

.bx-prev,
.bx-next {
	position: absolute;
	top: 90px;
}

.bx-prev {
	left: 0px;
}

.bx-next {
	right: -2px;
}

/* Breadcrumb */
.breadcrumb {
	position: absolute;
	top: 100px;
	left: 190px;
	display: block;
	width: 790px;
	height: 52px;
	overflow: hidden;
}

.breadcrumb a {
	padding-right: 10px;
	padding-left: 20px;
	font-size: 1.1em;/*15px*/
	color: #8b0000;
	background: transparent url(img/design/arrow_breadcrumb.png) no-repeat scroll left center;
}

.breadcrumb a.first {
	padding-left: 0px;
	background: transparent none repeat scroll 0px 0px;
}

.breadcrumb a.current {
	color: #6c6c6c;
}

/* Sidebar */
.sidebar {
    float: right;
    width: 278px;
    margin-top: 95px;
    margin-right: 15px;
}

.front-section-title {
	font-size: 1.8em;
	font-weight: bold;
	color: #9e0100;
	width: 325px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px !important;
	margin-bottom: 10px;
}

/* Personae */
.personae div {
	position: relative;
	float: left;
	display: block;
	height: 245px;
}

.front {
    margin-left: 6px;
}

.front.personae div {
	width: 499px;
}

.sidebar.personae div {
	width: 278px;
}

.front.personae .stratuslab {
	background: transparent url(img/design/stratuslab.png) no-repeat scroll left top;
}

.front.personae .slipstream {
	background: transparent url(img/design/slipstream.png) no-repeat scroll left top;
}

.front.personae .nuvlabox {
	background: transparent url(img/design/nuvlabox.png) no-repeat scroll left top;
}

.front.personae .training_coaching {
	background: transparent url(img/design/training_coaching.png) no-repeat scroll left top;
}

.personae div h2,
.personae div p,
.personae div a {
	padding-left: 25px;
}

.personae div h2 {
	margin: 25px 0px;
	line-height: 1;
	letter-spacing: -2px;
	font-size: 38px;
	color: #4e4e4e;
}

.sidebar.personae div h2 {
	margin-bottom: 10px;
}

.personae div p {
	margin: 0px;
	font-size: 1.15em;/*16px*/
}

.personae div a {
	position: absolute;
	bottom: 25px;
	padding-right: 20px;
	font-size: 1.8em;
	font-weight: bold;
	color: #9e0100;
	background: transparent url(img/design/arrow_red.png) no-repeat scroll right 10px;
}

.personae.sidebar div a {
	position: absolute;
	bottom: 25px;
	padding-right: 20px;
	font-size: 1.1em;
	font-weight: bold;
	color: #9e0100;
	background: none;
}

.personae div a:nth-of-type(2) {
    left: 180px;
}

.personae.sidebar div a:nth-of-type(2) {
    left: 95px;
}

.front.personae .stratuslab h2,
.front.personae .stratuslab p,
.front.personae .ready_pack h2,
.front.personae .ready_pack p {
	width: 260px;
}

.front.personae .slipstream h2,
.front.personae .slipstream p,
.front.personae .training_coaching h2,
.front.personae .training_coaching p {
	width: 240px;
}

/* Products */
.products div {
	position: relative;
	float: left;
	display: block;
	height: 245px;
}

.front.products div {
	width: 499px;
}

.sidebar.products div {
	width: 278px;
	float: right;
}

.front.products .stratuslab {
	background: transparent url(img/design/stratuslab.png) no-repeat scroll left top;
}

.front.products .slipstream {
	background: transparent url(img/design/slipstream.png) no-repeat scroll left top;
}

.front.products .nuvlabox {
	background: transparent url(img/design/nuvlabox.png) no-repeat scroll left top;
}

.front.products .training_coaching {
	background: transparent url(img/design/training_coaching.png) no-repeat scroll left top;
}

.sidebar.products .stratuslab {
	background: transparent url(img/design/stratuslab_box.png) no-repeat scroll left top;
}

.sidebar.products .slipstream {
	background: transparent url(img/design/slipstream_box.png) no-repeat scroll left top;
}

.sidebar.products .nuvlabox {
	background: transparent url(img/design/nuvlabox_box.png) no-repeat scroll left top;
}

.sidebar.products .training_coaching {
	background: transparent url(img/design/training_coaching_box.png) no-repeat scroll left top;
}

.products div h2,
.products div p,
.products div a {
	padding-left: 25px;
}

.products div h2 {
	margin: 25px 0px;
	line-height: 1;
	letter-spacing: -2px;
	font-size: 38px;
	color: #4e4e4e;
}

.sidebar.products div h2 {
	margin-bottom: 10px;
}

.products div p {
	margin: 0px;
	font-size: 1.15em;/*16px*/
}

.products div a {
	position: absolute;
	bottom: 25px;
	padding-right: 20px;
	font-size: 1.8em;
	font-weight: bold;
	color: #9e0100;
	background: transparent url(img/design/arrow_red.png) no-repeat scroll right 10px;
}

.products.sidebar div a {
	position: absolute;
	bottom: 25px;
	padding-right: 20px;
	font-size: 1.1em;
	font-weight: bold;
	color: #9e0100;
	background: none;
}

.products div a:nth-of-type(2) {
    left: 180px;
}

.products.sidebar div a:nth-of-type(2) {
    left: 95px;
}

.front.products .stratuslab h2,
.front.products .stratuslab p,
.front.products .nuvlabox h2,
.front.products .nuvlabox p {
	width: 260px;
}

.front.products .slipstream h2,
.front.products .slipstream p,
.front.products .training_coaching h2,
.front.products .training_coaching p {
	width: 240px;
}

.sidebar.products h2,
.sidebar.products p {
	width: 230px;
}

/* Pager, News */
.list_news ul,
.list_news ul li,
.pager ul,
.pager ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.pager ul {
	float: right;
}

.pager ul li {
	float: left;
	display: inline-block;
}

.pager ul li a {
	margin: 0px 4px;
	font-size: 0.85em;/*12px*/
	font-weight: bold;
	color: #555555;
}

.pager li.prev a,
.pager li.next a {
	text-transform: uppercase;
	color: #dd0202;
}

.pager li.current a {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 1px 5px;
	color: #ffffff;
	background-color: #b30000;
}

.pager li.prev a {
	margin-right: 16px;
	padding-left: 18px;
	background: transparent url(img/design/arrow_prev.png) no-repeat scroll left center;
}

.pager li.next a {
	margin-left: 16px;
	padding-right: 18px;
	background: transparent url(img/design/arrow_next.png) no-repeat scroll right center;
}

.list_news {
	float: left;
	margin-top: 25px;
}

.list_news ul,
.list_news ul li {
	float: left;
	width: 650px;
}

.list_news ul li {
	margin-bottom: 15px;
	padding-top: 20px;
	background: transparent url(img/design/top_frame.png) no-repeat scroll left top;
}

.list_news img {
	float: left;
	margin-right: 20px;
    margin-bottom: 15px;
}

.list_news a.title,
.list_news .teaser,
.list_news .date {
	float: right;
	width: 490px;
}

.list_news a.title {
	font-size: 18px;
	font-weight: bold;
	color: #a00100;
}

.list_news a.title:hover {
	color: #111111;
}

.list_news .teaser {
	margin: 10px 0px;
	font-size: 1.15em;/*16px*/
	color: #111111;
}

.list_news .date {
	width: 467px;
	margin-top: 0px;
}

.article {
	line-height: 18px;
}

.article h1 {
	margin-top: 25px;
}

.article ul li p {
    line-height: 18px;
}

/* Latest staffs */
.front.latest {
	float: left;
	display: block;
	width: 1008px;
	height: 205px;
	margin-top: 15px;
    margin-left: 1px;
	background: transparent url(img/design/latest.png) no-repeat scroll left top;
}

.front.latest div {
	float: left;
	display: block;
	width: 252px;
	margin-left: 2px;
	padding: 62px 0px 0px 60px;
	color: #9b9b9b;
}

.latest div h3,
.latest div p {
	margin: 5px 0px;
	font-size: 1.15em;/*16px*/
}


/* DEAL WITH UL USED FOR TWEETS (CAL) */
.latest div p ul {
	margin: 0px;
	list-style: none;
	padding-left: 0em;
	text-indent: 0em;
}

.latest div p ul li a {
	color: #9B9B9B;
	font-size: 0.85em;
	font-weight: normal;
	font-style: normal;
	background: none;
}

.latest div h3 {
	text-transform: uppercase;
	font-size: 1.6em;/*22px*/
	font-weight: normal;
}

.sidebar.latest div h3 {
	font-size: 1.45em;/*20px*/
}

.sidebar.latest div p {
	font-size: 1.15em;/*16px*/
}

.latest div a {
	padding-right: 18px;
	font-size: 1.1em;/*15px*/
	font-weight: bold;
	color: #009dc6;
	background: transparent url(img/design/arrow_blue.png) no-repeat scroll right 4px;
}

.sidebar.latest div a {
	padding-right: 20px;
	color: #9e0100;
	background: transparent url(img/design/arrow_red.png) no-repeat scroll right 4px;
}

.sidebar.latest #sixsq a {
	background: none;
}

.front.latest .news {
	background: transparent url(img/design/news.png) no-repeat scroll 6px 7px;
        margin-right: 22px;
}

.front.latest .tweets {
	background: transparent url(img/design/tweets.png) no-repeat scroll 6px 7px;
        margin-right: 22px;
}

.front.latest .blog_entries {
	background: transparent url(img/design/blog_entries.png) no-repeat scroll 6px 7px;
}

.sidebar.latest .news {
	background: transparent url(img/design/news_box.png) no-repeat scroll left top;
}

.sidebar.latest .tweets {
	background: transparent url(img/design/tweets_box.png) no-repeat scroll left top;
}

.sidebar.latest .blog_entries {
	background: transparent url(img/design/blog_entries_box.png) no-repeat scroll left top;
}

/* Customers */
.customers {
	float: left;
	display: block;
	width: 952px;
	height: 195px;
	margin-left: 3px;
    margin-bottom: 10px;
    margin-top: 7px;
	padding: 25px;
	background: transparent url(img/design/customers.png) no-repeat scroll left top;
}

.customers h3,
.customers p,
.customers .logos {
	float: left;
	color: black;
}

.customers h3 {
	margin: 10px 0px 0px 0px;
	line-height: 1;
	letter-spacing: -4px;
	font-size: 60px;
	color: #4e4e4e;
}

.customers p {
	margin-left: 30px;
	width: 600px;
}

.customers .logos {
	display: block;
	margin-top: 15px;
}

.customers img {
	margin-left: 3px;
}

/* Footer */
#footer {
    float: left;
    display: block;
    width: 942px;
    color: #9b9b9b;
    background-color: #262626;
    padding: 20px 20px 40px 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer_menu {
	float: left;
	width: 175px;
	height: 170px;
	background: transparent url(img/design/footer_separator.jpg) no-repeat scroll right top;
}

.footer_menu ul,
.footer_menu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-image: none;
}

.footer_menu ul li {
	padding-bottom: 5px;
}

.footer_menu li a {
	font-size: 12px;
	font-weight: bold;
	color: #ca1212;
}

.footer_logo img {
  	background: transparent;
    float: left;
    padding-top: 2px;
    margin: 0px 8px 0px 0px;
}

.footer_logo img:hover {
  	background: url(img/design/sixsq_logo_52px.png) no-repeat center top 2px;
}

#footer_logo_twitter {
   height: 64px;
   width: 64px;
   display: inline-block;
   background-image: url(img/design/twitter_logo_white_on_transparent_48px.png);
   background-repeat: no-repeat;
   background-position: center;
}

#footer_logo_twitter:hover {
    background-image: url(img/design/twitter_logo_blue_on_transparent_48px.png);
 	background-repeat: no-repeat;
	background-position: center;
}

#footer_logo_googleplus {
   height: 64px;
   width: 64px;
   display: inline-block;
   background-image: url(img/design/googleplus_logo_transparent_on_white_48px.png);
   background-repeat: no-repeat;
   background-position: center;
}

#footer_logo_googleplus:hover {
    background-image: url(img/design/googleplus_logo_white_on_red_48px.png);
 	background-repeat: no-repeat;
	background-position: center;
}

.adress_copyright {
	float: left;
	width: 295px;
	height: 170px;
	padding: 0px 25px 0px 25px;
	font-size: 12px;
	background: transparent url(img/design/footer_separator.jpg) no-repeat scroll right top;
}

.address_copyright div {
	line-height: 1.5;
}

.address_copyright span {
	font-size: 14px;
	font-weight: bold;
}

.address_copyright .copyright {
	margin: 20px 0px 0px 0px;
}

.address_copyright .design a {
	color: #EDEDED;
}

.contact_us {
	float: left;
	width: 190px;
	height: 170px;
	padding: 0px 25px 0px 25px;
	line-height: 1.5;
	font-size: 12px;
	background: transparent url(img/design/footer_separator.jpg) no-repeat scroll right top;
}

.contact_us span {
	font-size: 14px;
	color: #EDEDED;
}

.contact_us .phone,
.contact_us .mail {
	display: block;
	padding: 10px 0px 5px 30px;
}

.contact_us .phone {
	background: transparent url(img/design/icon_phone.png) no-repeat scroll left 12px;
}

.contact_us .mail {
	background: transparent url(img/design/icon_mail.png) no-repeat scroll left 18px;
}

.contact_us a {
	color: #EDEDED;
}

.follow_us {
	float: left;
	height: 170px;
	padding: 0px 25px 0px 25px;
}

.follow_us img {
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}

.tweets > div {
    margin: 0 !important;
    padding: 0 !important;
}

h1.slogan {
    color: #279bdc;
    align: center;
    line-height: 0.5;
}

#pricing-table {
	margin: 20px 120px 20px 120px;/* auto;*/
	text-align: center;
	/*width: 892px;*/ /* total computed width = 222 x 3 + 226 */
	overflow: hidden;
	width: 100%;
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
}

#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table h3.soon {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: url(img/design/soon_label.png), -moz-linear-gradient(#fff,#eee);
	background-image: url(img/design/soon_label.png), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: url(img/design/soon_label.png), -webkit-linear-gradient(#fff, #eee);
	background-image: url(img/design/soon_label.png), -o-linear-gradient(#fff, #eee);
	background-image: url(img/design/soon_label.png), -ms-linear-gradient(#fff, #eee);
	background-image: url(img/design/soon_label.png), linear-gradient(#fff, #eee);
	background-repeat: no-repeat, repeat;
	background-position: top right, 0 0;
}

#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

#pricing-table.bignumber span {
	width: 130px;
}

#pricing-table.bignumber b > span {
    font: bold 25px/100px Georgia, Serif;
    color: #777;
	font: bold 20px Georgia, Serif;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */
	
#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	background-image: -moz-linear-gradient(#72ce3f, #62bc30);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
	background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
	background-image: -o-linear-gradient(#72ce3f, #62bc30);
	background-image: -ms-linear-gradient(#72ce3f, #62bc30);
	background-image: linear-gradient(#72ce3f, #62bc30);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
	background-color: #62bc30;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
	background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
	background-image: -o-linear-gradient(#62bc30, #72ce3f);
	background-image: -ms-linear-gradient(#62bc30, #72ce3f);
	background-image: linear-gradient(#62bc30, #72ce3f); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	background: #62bc30;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

.create-account {
    background: url(img/design/button_create_account_idle.png) no-repeat center center;
    border:none;
    width: 200px;
    height: 40px;
    margin-left: -9px;
    margin-right: 0px;
}

.create-account:hover {
    background: url(img/design/button_create_account_hover.png) no-repeat center center;
    cursor: pointer;
}
