//-------- Home --------//
.default-banner {
	&.banner-1 {
		background: $p1-color;
	}
	&.banner-slider-1 {
		background: url(/img/banner/background.jpg) no-repeat bottom center/cover;
    @include mobile {
      background: url(/img/banner/background.jpg) no-repeat;
      background-size: cover;
      background-position: left center;
    }
	}
}
//-------- Page-products Nuvla --------//

.banner-page-int {
	background: url(/img/banner/banner-product.jpg) no-repeat bottom center/cover;
	background-size: cover;
	height: auto;
  @include mobile {
    background: url(/img/banner/banner-product.jpg) no-repeat;
    background-size: auto 100%;
    background-position: left center;
	}
	&.banner-nuvlacity {
		background: url(/img/banner/nuvlacity.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/nuvlacity.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.7) !important;
		}
	}
	&.banner-nuvlaoutpost {
		background: url(/img/banner/nuvlaoutpost.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/nuvlaoutpost.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-nuvlascience {
		background: url(/img/banner/nuvlascience.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/nuvlascience.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-nuvlabox {
		background: url(/img/banner/nuvlabox.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/nuvlabox.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-nuvla {
		background: url(/img/banner/nuvla.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/nuvla.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-slipstream, &.banner-developer {
		background: url(/img/banner/slipstream.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/slipstream.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-about {
		background: url(/img/banner/about.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/about.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-media {
		background: url(/img/banner/media.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/media.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-news {
		background: url(/img/banner/media.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/media.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-videos {
		background: url(/img/banner/media.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/media.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	&.banner-terms {
		background: url(/img/banner/terms.png) no-repeat bottom center/cover;
		@include mobile {
		 	background: url(/img/banner/terms.png) no-repeat;
		}
    p {
      background-color: transparentize(black, 0.5) !important;
		}
    h2 {
      background-color: transparentize(black, 0.5) !important;
		}
	}
	.banner-content {
		p {
			font-size: 24px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}

.banner-content {
	position: relative;
	z-index: 3;
	h2 {
		font-size: 48px;
		font-weight: 600;
		text-transform: uppercase;
		@include tablet {
			font-size: 36px;
		}
		@include mobile {
			font-size: 30px;
		}
	}
	p {
		font-size: 18px;
		line-height: 30px;
	}
	.video {
		position: relative;
		margin-left: -15px;
		span{
			color: $light;
			position: absolute;
			top: -10px;
			display: block;
			width: 200px;
			left: 100px;
			font-weight: 600;
			@include mobile {
				width: 180px;
			}
		}
	}
}

//--------- Home ---------//
.height-850 {
	height: 500px;
	@include tablet {
		height: 500px;
	}
	@include mobile {
		height: 400px;
	}
	.banner-content {
		margin-top: 175px;
		@include tablet {
			margin-top: 120px;
		}
		@include mobile {
			margin-top: 90px;
		}
	}
}
.slider-carousel {
	margin-top: 10px;
	@media (max-width: 767px) {
		margin-top: 10px;
	}
	.owl-item {
		pointer-events:inherit;
		@include flexbox();
		@include justify-content(start);
		a{
			cursor: pointer;
			z-index: 200;
			position: relative;
		}
	}
	.item {
		z-index: 120;
		position: relative;
		.banner-content{
			img {
				height: 300px;
				width: auto;
				@media (max-width: 767px) {
					display: none;
				}
				@include tablet {
					height: 350px;
					width: auto;
				}
			}
		}
	}
	.owl-controls {
		position: absolute;
		right: 0;
		top: 40%;
		@media (max-width: 767px) {
      display: none;
		}
		.owl-dots {
			@media (max-width: 767px) {
			  display: none;
			}
			.owl-dot {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: $light;
				margin: 10px;
				@media (max-width: 767px) {
					display: none;
				}
				&.active {
					position: relative;
					background: $color-primary;
					@media (max-width: 767px) {
            display: none;
  				}
  				&:after {
  					content: '';
  					position: absolute;
  					width: 18px;
  					height: 18px;
  					border-radius: 50%;
  					background: transparent;
  					border: 1px solid $light;
  					top: 50%;
  					left: 50%;
  					transform: translate(-50%, -50%);
  				}
  				&:before {
  					content: '';
  					position: absolute;
  					width: 64px;
  					height: 1px;
  					background: $light;
  					left: 15px;
  					top: 6px;
  				}
				}
			}
		}
	}
}
