.contact-bg-2 {
	background: $gray-footer;
}
.secondary-footer-bg-1 {
	background: #333333;
}

#footer{
	padding: 40px;
	.footer-menu{
		@media (max-width: 767px) {
			margin-top: 50px;
			text-align: center;
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		ul{
			float: right;
			vertical-align: baseline;
			@media (max-width: 767px) {
				float: none;
				display: block !important;
			}
			li{
				font-size: 110%;
				font-weight: 500;
				color:$title-color;
				text-transform: uppercase;
				margin-left: 20px;
				height: 20px;
				
				@media (min-width: 768px) and (max-width: 992px) {
					font-size: 15px;
				}
				
				@media (max-width: 767px) {
					font-size: 18px;
					margin-left: 10px;
					height: auto;
				}
				a {
					&:hover, &:focus, &:active {
						color:$color-primary;
					}
					line-height: 210px;
					@media (min-width: 768px) and (max-width: 992px) {
						line-height: 192px;
					}
					@media (max-width: 767px) {
						line-height: 0px;
					}
				}
			}
		}
		
	}
	.logo {
    margin-left: 13px;
		a {
			img {
				width: 25%;
				@media (min-width: 768px) and (max-width: 992px) {
					width: 60%;
				}
				@media (max-width: 767px) {
					width: 30%;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					display: block;
				}
			}
		}	
	}
	.line-menu {
		border-bottom: 1px solid #666;
		bottom: 23px;
		width: 100%;
    margin-left: 13px;
    margin-right: 13px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.footer-content {
		h4 {
			font-weight: 700;
			color: #444;
			@media (max-width: 767px) {
				text-align: center;
			}
		}
		li {
			font-size: 16px;
			color: #444;
			@media (max-width: 767px) {
				text-align: center;
			}
			svg {
				margin-right: 5px;
			}
		}
		.contact {
			@media (min-width: 768px) and (max-width: 992px) {
				margin-top: 30px;
			}
			@media (max-width: 767px) {
				margin-top: 30px;
				text-align: center;
			}
		}
	}
}
.total-address {
	.single-address {
		margin-bottom: 20px;
		span {
			margin: 5px 20px 0 0;
		}
		p {
			margin: 0;
		}
	}
}
footer {
	&.section-full {
		@include mobile {
			padding: 50px 0;
		}
	}
	.footer-social {
		margin-right: auto;
		margin-left: auto;
		display: block;
		li {
			display: inline-block;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: inline-block;
				width: 35px;
				color: $light;
				height: 35px;
				line-height: 30px;
				text-align: center;
				border-radius: 21px;
				border: 2px solid $light;
				margin-top: 10px;
				&:hover{
					background: $light;
					color:#333;	
				}
				svg {
					@include transition (all .3s ease);
					position: relative;
					z-index: 2;
				}
			}
		}
	}
	.footer-content {
		padding: 10px 0;
		p {
			margin: 0;
			display: inline-flex;
			@include mobile {
				font-size: 12px;
			}
      a {
        color: $light;
      }
		}
		.copyright {
			margin-top: 5px;
			font-size: 13px;
			line-height: 17px;
			@media (max-width: 767px) {
				text-align: center !important;
      }
		}
		.terms {
			font-size: 14px;
			margin-top: 20px;
			color:$light;
			@media (max-width: 767px) {
				text-align: center !important;
			}
			a {
				color: $light;
				@media (max-width: 767px) {
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					display: block;
				}	
			}
			p {
				.to-the-top {
					color: $color-primary;
					width: 30px;
					height: 30px;
					margin-left: 5px;
					border-radius: 20px;
					background: $light;
					padding-right: 9px;
					padding-top: 3px;
					@media (max-width: 767px) {
						padding-right: 0px;
					}
				}
			}
		}
	}
}
