.section-newsletter {
	padding: 40px;
	background: $gray-bg;
	z-index: 120;
	.title-need-contact {
		padding: 20px 0px;
		@include mobile {
      text-align: center;
		}
		.icon-newsletter {
			display: block;
			float: left;
			svg {
				color: $color-primary;
				font-size: 68px;
			}
		}
		.title-newsletter {
			display: block;
			margin-left: 40px;
			@media (min-width: 768px) and (max-width: 992px) {
				margin-left: 20px;
			}
			@media (max-width: 767px) {
				 margin-left: 0px;
			 }
		}
	}
	.newsletter {
		.newsletter-text {
			h3 {
				color: $color-primary;
				margin-bottom: 5px;
				@include mobile {
					text-align: center;
				}
			}
			p {
				margin: 0;
				@include mobile {
					text-align: center;
				}
			}
		}
	}
}
.section-newsletter, .hs-form-field {
	.hs-input {
		width: 74%;
		line-height: 49px;
		padding: 0 15px;
		border: 1px solid #ddd;
		@include transition (all .3s ease);
		@include mobile {
			width: 100%;
			padding: 0 10px;
		}
		&:focus {
			outline: none;
			box-shadow: $hover-shadow;
		}
	}
	button, .hs-button {
		padding: 0px 10px 0px 10px;
    color: $light;
		cursor: pointer;
  	background: $color-dark;
		margin: 20px 0;
		@include transition (all .3s ease);
		span {
			font-weight: 600;
			line-height: 50px;
			position: relative;
			z-index: 2;
		}
		@include mobile {
			width: 100%;
			display: inline-block;
			padding: 0;
			text-align: center;
		}
		@include mobile {
			padding: 0 20px;
		}
		&:focus {
			outline: none;
		}
	}
}
