.section-partners {
  .owl-dots {
    margin-top: 40px;
  }
}

.section-news {
	@media (max-width: 767px) {
		padding-bottom: 10px;
	}
  .row > div {
  	@media (max-width: 767px) {
      margin-bottom: 50px;;
    }
  }
	.active-screen-news {
		.item {
			display: block;
			.image-content {
        display: flex;
        justify-content: center;
				img {
          width: auto;
          height: auto;
          max-height: 150px;
      		@media (max-width: 767px) {
            display: block;
            max-width: 350px;
            max-height: 150px;
            width: auto;
            height: auto;
      		}
				}
			}
			.content-text {
				font-size: 100%;
			}
			.overlay-bg-1 {
				background: rgba($p1-color,.0);
				@include transition (all .3s ease);
			}
			&:hover {
				.overlay-bg-1 {
					background: rgba($p1-color,.9);
				}
			}
		}
		.owl-controls {
			right: 0;
			bottom: 0;
			margin-left: 15px;
			margin-top: -30px;
			margin-bottom: 25px;
  		@media (max-width: 767px) {
        margin-top: -30px;
      }
			.owl-dots {
				.owl-dot {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #aaa;
					margin: 5px;
					float: left;
					position: relative;
					&.active {
						position: relative;
						background: $color-primary;
					}
				}
			}
		}
	}
	.video-section {
		@media (max-width: 767px) {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.content-video {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	height: 0;
			iframe {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
			}
		}
	}
}

.mfp-counter {
	display: none;
}

.single-news {
	img {
		@include mobile {
			width: 100%;
		}
	}
	@include mobile {
		margin-bottom: 20px;
	}
	.desc {
		padding: 10px;
		@include tablet {
			padding: 20px;
		}
		@include transition (all .3s ease);
		h4 {
			a {
				color: $title-color;
			}
		}
		.read-more {
			display: inline-block;
			margin-bottom: 20px;
			color: $title-color;
			font-weight: 400;
		}
		ul {
			li {
				color: $title-color;
				font-weight: 400;
				padding: 5px;
				a {
					display: inline-block;
					color: $title-color;
					font-weight: 400;
					i {
						color: $color-primary;
					}
					
					@include tablet {
						font-size: 12px;
					}
					&:hover {
						color: $color-primary;
					}	
				}
			}
		}
	}
}
