.section-is-it-for {
  h2 {
    @extend .fw700;
    @extend .pb-30;
    font-size: 30px;
  }
  p {
    color: $text-color;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;
    font-family: $title-font;
    font-size: 18px;
    line-height: 1.5em;
  }
  ul, ol {
    font-size: 18px;
    font-weight: normal;
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  img {
    width: 100%;
  }
  iframe {
    width: 810px;
    height: 456px;
		@media (max-width: 767px) {
			max-width: 100%;
		}
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
	.icon-is-it-for {
		min-height: 450px;
    ol, ul {
      margin: inherit;
      padding: 0px 0px 20px 25px;;
      list-style: inherit;
    }
    .icon-pricing {
			background-color: #fff;
    }
    .circle {
      margin: 0 30px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      line-height: 130px;
      text-align: center;
      background: #333
    }              
		.icon {
			padding: 40px;
			height: 100%;
			&:hover {
				padding: 40px;
				background: #fff;
				box-shadow: $hover-shadow-icon;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
			}
			img {
				width: 60%;
				margin-left: auto;
				margin-right: auto;
				display: block;
				@media (min-width: 768px) and (max-width: 992px) {
					width: 100%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}
			}
			h3 {
				min-height: 50px;
			}
			h4 {
				min-height: 40px;
			}
			p {
				font-size: 16px;
				color: #888;
				line-height: 25px;
				@media (min-width: 768px) and (max-width: 992px) {
				}			
				a {
					margin-left: auto;
					margin-right: auto;
					text-align: center;
			
				}
			}
			.button{
				min-height: inherit;
			}
		}
	}
}

.logic-supply {
  img {
    margin-bottom: 30px;
  }
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .top {
//      align-self: flex-start;
      max-width: 80%;
    }
    .center {
//      align-self: center;
    }
    .bottom {
//      align-self: flex-end;
    }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width:
  100%;
  height: 100%;
}

.highlight-image {
	padding: 40px;
	height: 100%;
	&:hover {
		padding: 40px;
		box-shadow: $hover-shadow-icon;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	@include mobile {
		padding: 40px;
    width: 100%;
		box-shadow: $hover-shadow-icon;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
