.solution-section {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
  height: auto;
  min-height: 200px;
	position: relative;
	z-index: 100;
  padding: 60px 0;
	@include mobile {
    background-size: auto 100%;
  }
  .content {
    height: auto;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
//    background-color: transparentize(beige, 0.9) !important;
    padding: 20px;
	}
  h2 {
    padding: 20px 0px;
    color: white !important;
  }
  a {
    color: white !important;
    font-weight: bold;
  }
  &.solution-nuvlacity-security {
  	background-image: url(/img/content/Security_padlocks.jpg);
  }
  &.solution-nuvlacity-volumlight {
  	background-image: url(/img/content/volumlight.jpg);
  }
  &.solution-nuvlaoutpost-remote-communities {
  	background-image: url(/img/content/rural_tech.jpg);
  }
  &.solution-nuvlaoutpost-education {
  	background-image: url(/img/content/digital_divide.jpg);
//    .content {
//      background-color: transparentize(black, 0.7) !important;
//    }
  }
  &.solution-nuvlaoutpost-satellite {
  	background-image: url(/img/content/connected_world.jpg);
  }
  &.solution-nuvlascience-hnscicloud {
  	background-image: url(/img/content/europe_people.jpg);
  }
  &.solution-nuvlascience-gnss {
  	background-image: url(/img/content/gnss.jpg);
  }
}
