
// Font Family

$primary-font	       : 'Ubuntu', sans-serif;
$title-font	         : 'Ubuntu', sans-serif;
$title-color	       : #333333;
$text-color		       : #555555;
$border-color        : #dddddd;
$gray-bg             : #EDF0F1;
$color-primary 			 : #9B1313;
$gray-footer         : #E4E6E7;
$bg-grey-f9		       : #f9f9f9;
$light			         : #fff;
$dark     		  		 : #000;
$header-sticky       : #333;
$color-dark          : #333;
$p1-color            : rgba(255, 255, 255, 0.40);
$nuvla-color         : #4A3D8D;
$nuvlabox-color      : #F39314;
$slipstream-color    : $color-primary;
$nuvlacity-color     : #009051;
$nuvlaoutpost-color  : #136697;
$nuvlascience-color  : #9D6A1F;
$hover-shadow        : 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
$hover-shadow-icon   : 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
$p2-shadow           : 0px 10px 15px rgba(219, 17, 17, 0.25);

/*--------------------------- Color variations ----------------------*/
