body {
  font-family: Tahoma, Geneva, "Trebuchet MS", Sans-serif;
  width: 750px;
  margin: 0 auto;
}

h1 {
  font-family: Impact, sans-serif;
  font-variant: small-caps;
  font-size: 150%;
  color: DarkSlateGray;
}

img {
  vertical-align: text-top;
}

table.panel {
  width: 25%;
}

div.left, div.middle, div.right {
  width: 30%;
}

td {
  vertical-align: top;
}

.post-title {
  font-family: Impact;
  font-variant: small-caps;
  font-size: 150%;
  color: DarkSlateGray;
}

.post-content {
  font-style: bold;
  font-size: 75%;
  color: DarkSlateGray;
}

.learn a:link {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:hover {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:visited {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:active {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

div.header {
  background: #650504;
  color: white;
}

.header a:link {
  color: white;
  text-decoration:none;
}

.header a:hover {
  color: white;
  text-decoration:none;
}

.header a:visited {
  color: white;
  text-decoration:none;
}

.header a:active {
  color: white;
  text-decoration:none;
}

div.footer {
  background: black;
  color: white;
}

ul {
  list-style-type: none;
}
