body {
  font-family: Ariel, Verdana, "Trebuchet MS", Sans-serif;
  width: 750px;
  margin: 0 auto;
}

h1 {
  font-variant: small-caps;
  color: DarkSlateGray;
}

img {
  vertical-align: text-top;
}

td {
  vertical-align: top;
}

.post-title {
  font-variant: small-caps;
}

div.footer.post-title {
  text-transform: uppercase;
  font-variant: none;
}

.post-content {
  font-size: 75%;
}

.learn a:link {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:hover {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:visited {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

.learn a:active {
  font-style: italic;
  color: blue;
  text-decoration:none;
}

div.header {
  background: #650504;
  color: white;
}

.header a:link {
  color: white;
  text-decoration:none;
}

.header a:hover {
  color: white;
  text-decoration:none;
}

.header a:visited {
  color: white;
  text-decoration:none;
}

.header a:active {
  color: white;
  text-decoration:none;
}

div.footer {
  background: black;
  color: white;
}

ul {
  list-style-type: none;
}
