<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed sub-nav" type="button" data-toggle="collapse" data-target="#sub-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="sub-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="sub_about_us"><a href="/about-us">About Us</a></li>
        <li id="sub_contact"><a href="/contact">Contact</a></li>
        <li id="sub_customers"><a href="/customers">Customers</a></li>
        <li id="sub_jobs"><a href="/jobs">Jobs</a></li>
        <li id="sub_legal"><a href="/legal">Terms</a></li>
      </ul>
    </div>
  </div>
</div>
