<div class="banner">
  <div id="slider1">

    {% for post in site.categories.banner %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.subtitle }}</h3>
    <p>{{ post.content }}</p>
    {% endfor %}

    <div>
      <h1>Release With Confidence</h1>
      <h3>SixSq provides agile applications and tools, as well as software services and consultancy.</h3>
      <p>We deliver solutions to reduce costs in managing software and IT infrastructures. SlipStream, our software integration, test and deployment application allows our customers to release software with confidence, minimize risk and reduces time-to-market. SixSq collaborators share a passion for excellence and innovation, with dedicated attention to customer needs. We take pride in building long lasting partnerships and collaborations with all of our customers.</p>
    </div>

    <div>
      <h1>Lorem ipsum dolor sit amet</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

</div>
      
