						<div class="item single-icon col-md-12 mt-30 text-center {{ post.cssclass }}">
              {% if post.image %}
                <img src="{{ post.image }}" alt="{{ post.title }}" style="display: inline; max-width: 30%; width: auto;">
              {% endif %}
              {% if post.icon %}
  							<i class="fas {{ post.icon }}"></i>
              {% endif %}
							<div class="desc mt-30">
								<h3 class="mb-10 fw600 text-center">{{ post.title }}</h3>
								<p>{{ post.content }}</p>
							</div>
						</div>
 