		<!-- Start menu-product -->	
		<section class="menu-product menu-product-{{ page.product }}">
        <nav class="container navbar navbar-toggleable-sm navbar-inverse sub-navbar">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#subNavbarNavDropdown" aria-controls="subNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/casestudies/{{ page.product }}/overview">
						<h2 class="text-white fw600">Case study: {{ page.product-name }}</h2>
          </a>
        </nav>
			</div>
		</section>
		<!-- Stop menu-product -->
