<div class="customers">
  <h3>Customers</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="logos">
    <img src="img/design/logo_eu.png" />
    <img src="img/design/logo_sfp.png" />
    <img src="img/design/logo_esa.png" />
    <img src="img/design/logo_esoc.png" />
    <img src="img/design/logo_scisys.png" />
    <img src="img/design/logo_terma.png" />
    <img src="img/design/logo_thales.png" />
  </div>
</div>
