<div class="footer">
<table class="footer-table">

<tr>
<td>
  <div class="left">
    <a href="http://sixsq.github.com"><img src="http://sixsq.github.com/shared/images/sixsq-logo.jpg" 
                                           alt="" 
                                           title="SixSq red square" 
                                           height="90" width="90" /></a>
  </div>
</td>
<td>
  <div class="middle">
    <div class="address>"
     <br/>
     SixSq Sarl<br/>
     c/o Jawer, 7th floor, Building 7<br/>
     Route de Pre Bois 20<br/>
     1215 Geneva<br/>
     Switzerland
    </div>
  </div>
</td>
<td>
  <div class="right">
    <div class="contacts">
      <br/>
      Contact us<br/>
      Need information? Give feedback? Get in touch...<br/>
      +41 77 44 33 22<br/>
      <a href="mailto:info@sixsq.com">info@sixsq.com<br/>
      Follow us on: feed, twitter, blog<br/>
    </div>
  </div>
</td>
</tr>

<tr>
<td></td>
<td><div class="copyright">Copyright © 2007-2012, SixSq Sàrl.<br/>All rights reserved.</div></td>
<td></td>
</tr>

</table>
</div>
