<div id="personae" class="container spacy">
  <div class="row">
    <h1>Our Users</h1>
    <h3>Meet our SlipStream and NuvlaBox users</h3>
    <p/>
    {% for post in site.categories.personae reversed %}
      <div class="col-md-3" style="padding-top: 60px">
        <a href="/personae/overview#{{ post.title }}">
          <center>
            <img src="{{ post.icon }}"></img>
            <h2>{{ post.title }}</h2>
            <h4>{{ post.overview }}</h4>
          </center>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
