<div class="footer">
<table class="footer-table">

<tr>
<td>
  <div class="section">Latest News</div>
  {% include first-news-excerpt.html %}
</td>
<td>
  <div class="section">Latest Tweets</div>
  <div class="title">LOREM IPSUM</div>
  <div>Latest tweet information</div>
</td>
<td>
  <div class="section">Latest Blog Entries</div>
  {% include first-blog-excerpt.html %}
</td>
</tr>

<tr>
<td></td>
<td><p>Copyright © 2007-2012, SixSq Sàrl. All rights reserved.</p></td>
<td></td>
</tr>

</table>
</div>
