<div id="footer">
<table id="footer-table">

<tr>
<td>
  <div id="section" Latest News</div>
  <div id="title" LOREM IPSUM</div>
  <div>First paragraph of the news item.</div>
</td>
<td>
  <div id="section" Latest Tweets</div>
  <div id="title" LOREM IPSUM</div>
  <div>Latest tweet information</div>
</td>
<td>
  <div id="section" Latest Blog Entries</div>
  <div id="title" LOREM IPSUM</div>
  <div>Latest blog first paragraph</div>
</td>
</tr>

<tr>
<td></td>
<td><p>Copyright © 2007-2012, SixSq Sàrl. All rights reserved.</p></td>
<td></td>
</tr>

</table>
</div>
