<head profile="http://www.w3.org/1999/xhtml/vocab">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>SixSq. {{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="/sixsq.css" media="screen,print" />
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/jquery-ui.js" type="text/javascript"></script>
  <script src="/js/cufon-yui.js" type="text/javascript"></script>
  <script src="/js/helveticaneue_300-helveticaneue_700.font.js" type="text/javascript"></script>
  <script src="/js/bebas_400.font.js" type="text/javascript"></script>
  <script src="/js/sixsq.js" type="text/javascript"></script>
  <script src="/js/jquery.bxSlider.min.js" type="text/javascript"></script>
  <script src="/js/siutsur.min.js" type="text/javascript"></script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6461733-1']);
  _gaq.push(['_setDomainName', 'sixsq.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>


{% if page.title and page.summary %}
  {% if page.category == 'products' and (page.image or page.twitter-image) and page.twitter-highlight-1-title and page.twitter-highlight-1-content and page.twitter-highlight-2-title and page.twitter-highlight-2-content %}
  <meta name="twitter:card" content="product">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@sixsq">
  {% if page.twitter-author %}
  <meta name="twitter:creator" content="{{ page.twitter-author }}">
  {% endif %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.summary }}">
  {% if page.twitter-image %}
    {% assign twitter-image = page.twitter-image %}
  {% elsif page.image %}
    {% assign twitter-image = page.image %}
  {% endif %}
  {% if twitter-image %}
  <meta name="twitter:image" content="http://sixsq.com{{ twitter-image }}">
  {% endif %}
  {% if page.category == 'products' and (page.image or page.twitter-image) and page.twitter-highlight-1-title and page.twitter-highlight-1-content and page.twitter-highlight-2-title and page.twitter-highlight-2-content %}
  <meta name="twitter:data1" content="{{ page.twitter-highlight-1-title }}">
  <meta name="twitter:label1" content="{{ page.twitter-highlight-1-content }}">
  <meta name="twitter:data2" content="{{ page.twitter-highlight-2-title }}">
  <meta name="twitter:label2" content="{{ page.twitter-highlight-2-content }}">
  {% endif %}
{% endif %}

</head>
