<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="SixSq Sàrl">
	<meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}Smart cloud and edge computing products, services and solutions. Our solutions: NuvlaCity, NuvlaScience and NuvlaOutpost enable our partners and customers to build next generation IT solutions for Smart City, IoT, Industry 4.0, machine learning and big data applications.{% endif %}">
	<meta name="keywords" content="{% if page.meta-keywords %}{{ page.meta-keywords }}{% else %}cloud computing, edge computing, Nuvla, NuvlaBox, NuvlaCity, NuvlaScience, NuvlaOutpost, Smart City, Industry 4.0, machine learning, big data, IoT{% endif %}">
	<meta charset="UTF-8">
	<title>SixSq | {{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet"> 

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-grid.css">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-reboot.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
