<div id="header">
  <div id="banner">
    <a href="http://sixsq.github.com"><img src="http://sixsq.github.com/sixsq-logo.jpg" 
                                           alt="" 
                                           title="SixSq red square" 
                                           height="90" width="90" /></a>
  </div>
  <div id="top-menu">
    <a href="http://sixsq.github.com">Home</a>
    <a href="pages/products">Products</a>
    <a href="pages/services">Services</a>
    <a href="pages/customers">Customers</a>
    <a href="pages/news">News</a>
    <a href="pages/stratuslab">StratusLab</a>
    <a href="pages/slipstream">SlipStream</a>
  </div>
</div>
