			<div>
				<div class="solution-section solution-{{ post.product }}-{{ post.class }}">
  				<div class="container">
  					<div class="row content">
  						<div class="col-md-12 col-sm-12">
                <h2 class="fw700">{{ post.title }}</h2>
  						</div>
  						<div class="col-md-12 col-sm-12">
  							<p class="fw100">{{ post.content }}</p>
  							<div class="line mb-20"></div>
  							<p class="fw100">{{ post.action-text }}</p>
                {% if post.link %}
                  {% assign url = post.link  %}
                {% else %}
                  {% assign url = post.url  %}
                {% endif %}
                <a class="btn-sixsq " href="{{ url }}"><i class="fa fa-plus-square-o"></i> Learn more</a>
  						</div>
            </div>
  				</div>
				</div>
			</div>
