		<div class="col-md-4 col-sm-6 col-xs-12 item icon animated cards">
            {% if post.image %}
              <div class="image-content cropped">
                <img style="width: 100%;{{ post.css-style-image }}" src="{{ post.image }}" alt="news-homepage">
              </div>
            {% endif %}
            {% if post.icon %}
              <div class="icon-title">
                <i class="fa {{ post.icon }}"></i>
              </div>
            {% endif %}
            <h3 class="mt-20 fw600">{{ post.title }}</h3>
            <div>
                <p class="date mt-20" style="text-align: left">{{ post.date | date_to_long_string }}</p>
				<p class="mt-10" style="text-align: justify">{{ post.content | strip_html | truncatewords: 30 }}</p>
				<p class="button mt-10 text-center"/>
            </div>
              {% if post.link %}
                {% assign url = post.link  %}
              {% else %}
                {% assign url = post.url  %}
              {% endif %}
              <a class="btn-sixsq mt-20 color-3 text-center" href="{{ url }}">Take a Look</a>
		</div>
