<div class="front latest">

  <div class="news">
    <h3>Lorem Ipsum</h3>
    <p>Automated, on-demand, creation of multi-machine runtime environments. In other words, your softwareengineering PaaS solution, as product and service.</p>
    <a href="#">Learn more</a>
  </div>

  <div class="tweets">
    <h3>Lorem Ipsum</h3>
    <p>Automated, on-demand, creation of multi-machine runtime environments. In other words, your softwareengineering PaaS solution, as product and service.</p>
    <a href="#">Learn more</a>
  </div>

  <div class="blog_entries">
    <h3>Lorem Ipsum</h3>
    <p>Automated, on-demand, creation of multi-machine runtime environments. In other words, your softwareengineering PaaS solution, as product and service.</p>
    <a href="#">Learn more</a>
  </div>

</div>
      
