<div class="news">
  {% for post in site.categories.news limit:1 %}
  <h3>{{ post.title }}</h3>
  <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
  <a href="{{ post.url }}">Learn more</a>
  {% endfor %}
</div>

<div class="tweets">
  <h3>Tweets</h3>
  
  <p class="twitters" id="sixsq">Loading tweets...</p>
  
  <script charset="utf-8" type="text/javascript">  
  jQuery(function() {
  getTwitters('sixsq', { 
  id: 'sixsq', 
  count: 2,
  enableLinks: false, 
  ignoreReplies: true, 
  template: '%text% (%time%)'
  });
  })
  
  </script>

  <a href="http://twitter.com/sixsq">Learn more</a>

</div>

<div class="blog_entries">
  {% for post in site.categories.blog limit:1 %}
  <h3>{{ post.title }}</h3>
  <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
  <a href="{{ post.url }}">Learn more</a>
  {% endfor %}
</div>
