<div class="news">
  {% for post in site.categories.news limit:2 %}
  <p>{{ post.title | truncatewords: 10 }}</p>
  <a href="{{ post.url }}">Learn more</a>
  {% endfor %}
</div>

<div class="tweets">
  
    <div id="latest-tweets"></div>
    <script>
      $(function() {
        Siutsur.load('356005667552768001', function(obj) {
          var html = '';
          var trimLength = 55;
          $(obj).slice(0,2).each(function(i, tweet) {
              var post = '<p>' + tweet.title.plain.slice(0,trimLength);
              if (tweet.title.plain.length > trimLength) {
                  post += '...'
              }
              html += post;
          });
          $('#latest-tweets').html(html);
        }, function() {
          $('#latest-tweets').append('<li>Error loading tweets</li>');
        });
      });
    </script>
  
  <a href="http://twitter.com/sixsq">See more</a>

</div>

<div class="blog_entries">
  {% for post in site.categories.blog limit:2 %}
  <p>{{ post.title | truncatewords: 8 }}</p>
  <a href="{{ post.url }}">Learn more</a>
  {% endfor %}
</div>
