		<!-- Start menu-product -->	
		<section class="menu-product menu-product-{{ page.product }} pb-10 pt-20">
        <nav class="container navbar navbar-toggleable-sm navbar-inverse sub-navbar">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#subNavbarNavDropdown" aria-controls="subNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/{{ page.category }}/overview">
						<h2 class="text-white fw600">Media.</h2>
          </a>
          <div class="collapse navbar-collapse justify-content-end" id="subNavbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-overview" href="/media/overview">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-news" href="/media/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-videos" href="/media/videos">Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-blog" href="https://media.sixsq.com/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-webinar" href="/media/webinar">Webinars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-eguides" href="/media/eguides">eGuides</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-solution-briefs" href="/media/solution-briefs">Solution Briefs</a>
              </li>
            </ul>
          </div>
        </nav>
			</div>
		</section>
		<!-- Stop menu-product -->
