		<!-- Start Banner -->
		<section class="banner-page-int banner-{{ page.product }} pt-100 pb-100">
			<div class="container">
				<div class="row">
					<div class="banner-content col-md-12">
						<h2 class="text-white text-center mb-30">Read our news and what others write about us</h2>
						<p class="text-white text-center">News coming from our own press, as well as what we believe is newsworthy from our field, but also partners and customers.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>
		<!-- Stop Banner -->
