      <div class="col-md-6 icon">
				<figure>
					<img src="{{ post.supplier-img }}" alt="{{ post.product-name }}"/>
					<figcaption>
					  	<h3 class="fw600 text-center">{{ post.product-name }}</h3>
					</figcaption>
				</figure>
        <h4 class="text-center">{{ post.supplier-name }}</h4>
        <div class="text-center">
          {{ post.content }}
        </div>
        <div class="text-center">
				  <a class="btn-sixsq color-dark" href="{{ post.supplier-url }}">Get full spec</a>
        </div>
      </div>
