		<!-- Start menu-product -->	
		<section class="menu-product menu-product-{{ page.product }}">
        <nav class="container navbar navbar-toggleable-sm navbar-inverse sub-navbar">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#subNavbarNavDropdown" aria-controls="subNavbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/{{ page.product }}/overview">
						<h2 class="text-white fw600">{{ page.product-name }}</h2>
          </a>
          <div class="collapse navbar-collapse justify-content-end" id="subNavbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-overview" href="/products-and-services/{{ page.product }}/overview">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-marketplace" href="/products-and-services/{{ page.product }}/marketplace">Marketplace</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-feature" href="/products-and-services/{{ page.product }}/features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-pricing" href="/products-and-services/{{ page.product }}/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-security" href="/products-and-services/{{ page.product }}/security">Security</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="navbarMenuLink-tech-spec" href="/products-and-services/{{ page.product }}/tech-spec">Tech Specs</a>
              </li>
            </ul>
          </div>
        </nav>
			</div>
		</section>
		<!-- Stop menu-product -->
