<!--<div class="banner">
  <div>
    <a href="/jobs/index.html">We're hiring!</a>
  </div>
</div>-->

<div class="jumbotron top_product nuvlabox">
  <div class="container">
    <h1><img alt="SlipStream" style="padding-bottom: 20px;" src="/img/design/nuvlabox_logo_white_on_transparent_256px.png"></img>
  	  {% if page.subtitle %}
  	    {{ page.subtitle }}
  	  {% else %}
        Smart Cloud-in-a-box appliance
      {% endif %}
  	</h1>
    {% if page.summary %}
      <p>{{ page.summary }}</p>
    {% else %}
      <p>A simple and secure private cloud solution which offers easy and affordable access to the benefits of cloud computing.</p>
    {% endif %}
  </div>
</div>
