<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed sub-nav" type="button" data-toggle="collapse" data-target="#sub-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="sub-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="sub_overview"><a href="/products/nuvlabox.html">Overview</a></li>
        <li id="sub_usecases"><a href="/products/nuvlabox-usecases.html">Use Cases</a></li>
        <li id="sub_features"><a href="/products/nuvlabox-features.html">Features</a></li>
        <li id="sub_techspecs"><a href="/products/nuvlabox-tech.html">Tech Specs</a></li>
      </ul>
    </div>
  </div>
</div>
