<!--<div class="banner">
  <div>
    <a href="/jobs/index.html">We're hiring!</a>
  </div>
</div>-->

<div style="margin-top: 3px;" class="jumbotron top_product nuvla">
  <div class="container">
    <h1><img style="max-width: 150px; padding-bottom: 23px;" src="/img/content/nuvla/nuvla_logo_white_on_transparent_1000px.png" alt="nuvla logo" />
	  {% if page.subtitle %}
	    {{ page.subtitle }}
	  {% else %}
	    Smart Cloud Brokerage
    {% endif %}
  	</h1>
    {% if page.subtitle %}
      <p>{{ page.summary }}</p>
    {% else %}
      <p>Affordable, multi-cloud application management platform, built on open source professional software, for the enterprise, with love.</p>
    {% endif %}
    {% include training.html %}
  </div>
</div>
