<div class="row row-summary row-summary-nuvlabox">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div>
      <div>
        <h2 class="icons-title">
          <center>
            <span class="glyphicon glyphicon-hdd"></span>
            <span style="color: gray; font-size: 48px;">+</span>
            <span style="color: #CF2121" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          </center>
        </h2>
        <h2>All Clouds to Choose From</h2>
        <ul>
          <li>No vendor lock-in</li>
          <li>Sets up in seconds, runs forever</li>
          <li>Remote management and update of apps</li>
        </ul>
      </div>
      <center><a class="btn btn-primary btn-lg" role="button" 
        {% if page.layout == 'welcome' %}
    	    href="/products/nuvlabox"
    	  {% else %}
  	      href="/products/nuvlabox/features"
    	  {% endif %}
    	    >Learn more &raquo;</a></center>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div>
      <div>
        <h2 class="icons-title">
          <center>
            <span class="glyphicon glyphicon-hdd"></span>
            <span style="color: gray; font-size: 48px;">+</span>
            <span style="color: #CF2121" class="glyphicon glyphicon-grain" aria-hidden="true"></span>
          </center>
        </h2>
        <h2>Rapid IT for field operations</h2>
        <ul>
          <li>Simple, quick set up makes NuvlaBox ideal for IT operations in field or outpost </li>
          <li>Apps and content delivered using a number of IP links (e.g. land, satellites, air)</li>
          <li>Ruggedised casing and fanless design provide increased operational lifespan</li>
        </ul>
      </div>
      <center><a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox/usecases/#Field-Operations-with-Agile-Local-Infrastructure">Learn more &raquo;</a></center>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div>
      <div>
        <h2 class="icons-title">
          <center>
            <span class="glyphicon glyphicon-cloud"></span>
            <span style="color: gray; font-size: 48px;">+</span>
            <span style="color: #CF2121" class="glyphicon glyphicon-th" aria-hidden="true"></span>
          </center>
        </h2>
        <h2>Simple IT solution for complex world</h2>
        <ul>
  <li>Plug and play set up</li>
          <li>Point and click application deployment</li>
          <li>Apps cached locally, reducing dependency on network availability</li>
        </ul>
      </div>
      <center><a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox/tech">Learn more &raquo;</a></center>
    </div>
  </div>
</div>
