<div class="container big usecase spacy">
  <h1>{{ page.title }} Use Cases</h1>
  <div class="row">
    {% for post in site.posts %}
    {% if post.category == "usecases" and post.class == page.class and post.layout == 'article' and post.favourite %}
    <div class="col-md-4">
      <h2>
          {{ post.title }}
      </h2>
      <p>
          {{ post.content | markdownify | truncatewords: 25 }}
      </p>
      <p><a class="btn btn-default" href="/products/{{ page.class }}-usecases.html#{{ post.title | replace:' ','-' }}" role="button">Use case details &raquo;</a></p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <p><a href="/products/{{ page.class }}-usecases.html" class="btn btn-primary btn-lg" role="button">Read more Use Cases &raquo;</a></p>
</div>
