<!-- Start primary-footer -->
		<section id="footer" class="contact-bg-2">
			<div class="container">
				<div class="row mt-30 footer-content mb-10">
					<div class="col-md-3">
						<h4>Headquarters:</h4>
						<ul>
							<li class="fw400">SixSq</li>
							<li class="fw400">Route de Meyrin 267</li>
							<li class="fw400">1217, Meyrin, Geneva</li>
							<li class="fw400">Switzerland</li>
						</ul>
					</div>
					<div class="col-md-3 contact">
						<h4>North American Office:</h4>
						<ul>
							<li class="fw400">SixSq, c/o RHEA</li>
							<li class="fw400">6700 Côte de Liesse, Suite 102</li>
							<li class="fw400">Montréal (St-Laurent), Québec, H4T 2B5</li>
							<li class="fw400">Canada</li>
						</ul>
					</div>
					<div class="col-md-3 contact">
						<h4>Asia Pacific Office:</h4>
						<ul>
							<li class="fw400">SixSq, c/o Rochade</li>
							<li class="fw400">10 Anson Road 09-03</li>
							<li class="fw400">International Plaza, Singapore 079903</li>
						</ul>
					</div>
					<div class="col-md-3 contact">
						<h4>Contacts:</h4>
						<ul>
							<li class="fw400"><i class="fas fa-mobile fa-phone fa-fw"></i>info/support: +41 22 980 95 80</li>
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:info@sixsq.com">info@sixsq.com</a></li>
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:support@sixsq.com">support@sixsq.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End primary-footer -->
