<!-- Start primary-footer -->
		<section id="footer" class="contact-bg-2">
			<div class="container">
				<div class="row footer-content">
					<div class="col-md-12 contact text-center">
						<h4>Contacts:</h4>
						<ul>
              <!-- <li class="fw400"><i class="fas fa-mobile fa-phone fa-fw"></i>info/support: +41 22 980 95 80</li> -->
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:info@sixsq.com">info@sixsq.com</a></li>
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:support@sixsq.com">support@sixsq.com</a></li>
						</ul>
					</div>
				</div>
				<div class="row mt-30 footer-content mb-10">
					<div class="col-md-6 text-center">
						<h4>Headquarters:</h4>
						<ul>
							<li class="fw400">SixSq</li>
							<li class="fw400">Route de Meyrin 267</li>
							<li class="fw400">1217, Meyrin, Geneva</li>
							<li class="fw400">Switzerland</li>
						</ul>
					</div>
					<div class="col-md-6 contact text-center">
						<h4>Asia Pacific:</h4>
						<ul>
							<li class="fw400">SixSq, c/o Concort Growth Services</li>
							<li class="fw400">16B Venetia Tower, Raisina</li>
							<li class="fw400">Sector 59, Delhi NCR India</li>
							<li class="fw400"><a href="https://www.concort.co">www.concort.co</a></li>
            </ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End primary-footer -->
