<!-- Start Footer -->
	<footer class="secondary-footer-bg-1">
		<div class="container">
			<div class="row footer-content">
					<div class="col-md-4">
							<p class="copyright copy-left-text text-white">Copyright © 2021 SixSq SA. All rights reserved. SixSq, Nuvla, NuvlaBox are registered trademarks of SixSq SA in Switzerland and other countries.</p>
							<p class="copyright copy-left-text text-white">Other registered trademarks are owned by their owner.</p>
						</div>
					<div class="col-md-4 text-center">
						<ul class="footer-social color-2 mb-20">
							<li><a href="https://twitter.com/sixsq"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/sixsq"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4 text-right terms">
						<p><a href="/about/terms">Terms &amp; conditions</a></p>
					</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/475360.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->

	<!--
	JavaScripts
	========================== -->
	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/main.js"></script>
  <script src="/js/jquery.tipsy.js"></script>

<!-- Scripting -->
<script type="text/javascript">$("#navbarDropdownMenuLink-{{ page.category }}").addClass("active");</script>
<script type="text/javascript">$("#navbarMenuLink-{{ page.class }}").addClass("active");</script>

<script>
  window.intercomSettings = {
    app_id: "qjggmp6w",
    website: "sixsq.com"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/u4ftpdjf'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/u4ftpdjf';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
