<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed sub-nav" type="button" data-toggle="collapse" data-target="#sub-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="sub-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="sub_overview"><a href="/products/slipstream">Overview</a></li>
        <li id="sub_paas"><a href="/products/slipstream/paas">PaaS</a></li>
        <li id="sub_devops"><a href="/products/slipstream/devops">DevOps</a></li>
        <!--><li id="sub_hybrid"><a href="/products/slipstream/hybrid-cloud">Hybrid</a></li>-->
        <li id="sub_usecases"><a href="/products/slipstream/usecases">Use Cases</a></li>
        <li id="sub_connectors"><a href="/products/slipstream/cloud-connectors">All Clouds</a></li>
        <li id="sub_docs"><a href="/products/slipstream/documentation">Doc &amp; API</a></li>
        <li id="sub_install"><a href="/products/slipstream/install">Install</a></li>
        <li id="sub_features"><a href="/products/slipstream/features">Features</a></li>
        <li id="sub_techspecs"><a href="/products/slipstream/tech">Tech Specs</a></li>
        <li id="sub_tryme"><a href="/products/slipstream/tryme">Try Me</a></li>
      </ul>
    </div>
  </div>
</div>
