<!--<div class="banner">
  <div>
    <a href="/jobs/index.html">We're hiring!</a>
  </div>
</div>-->

<div style="margin-top: 3px;" class="jumbotron top_product slipstream">
  <div class="container">
    <h1><img style="padding-bottom: 5px;" src="/img/design/slipstream_logo_white_on_transparent_256px.png" alt="slipstream logo" />
	  {% if page.subtitle %}
	    {{ page.subtitle }}
	  {% else %}
	    Application Deployment Platform
    {% endif %}
  	</h1>
    {% if page.subtitle %}
      <p>{{ page.summary }}</p>
    {% else %}
      <p>Affordable, multi-cloud application management platform, built on open source professional software, for the enterprise, with love.</p>
    {% endif %}<p>Sign Up for our next SlipStream Training Event in Geneva, Switzerland - October 7 and 8, 2015  <a href="http://www.eventbrite.com/e/slipstream-training-hands-on-use-of-sixsqs-cloud-management-platform-tickets-17440176036?ref=ebtnebtckt" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=17440176036" alt="Eventbrite - SlipStream Training: hands on use of SixSq&#39;s cloud management platform" /></a></p>
  </div>
</div>
