<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed sub-nav" type="button" data-toggle="collapse" data-target="#sub-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="sub-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="sub_overview"><a href="/products/slipstream">Overview</a></li>
        <li id="sub_PaaS"><a href="/products/slipstream/paas">PaaS</a></li>
        <li id="sub_DevOps"><a href="/products/slipstream/devops">DevOps</a></li>
        <li id="sub_Hybrid"><a href="/products/slipstream/hybrid">Hybrid</a></li>
        <li id="sub_Install"><a href="/products/slipstream/install">Install</a></li>
        <li id="tryme_Techspecs"><a href="/products/slipstream/tryme">Try Me</a></li>
      </ul>
    </div>
  </div>
</div>
