<!--<div class="banner">
  <div>
    <a href="/jobs/index.html">We're hiring!</a>
  </div>
</div>-->

<div style="margin-top: 3px;" class="jumbotron top_product slipstream">
  <div class="container">
    <h1><img style="padding-bottom: 5px;" src="/img/design/slipstream_logo_white_on_transparent_256px.png" alt="SlipStream" />
	  {% if page.subtitle %}
	    {{ page.subtitle }}
	  {% else %}
	    Application Deployment Platform
    {% endif %}
  	</h1>
    {% if page.subtitle %}
      <p>{{ page.summary }}</p>
    {% else %}
      <p>Affordable, multi-cloud application management platform, built on open source professional software, for the enterprise, with love.</p>
    {% endif %}{% include training.html %}
  </div>
</div>
