    <div class="row row-summary row-summary-slipstream">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div>
          <div>
            <h1>
              <center>
                <span title="Cloud" class="glyphicon glyphicon-cloud"></span>
                <span style="color: gray">+</span>
                <span title="Automation" style="color: #CF2121" class="glyphicon glyphicon-flash"></span>
              </center>
            </h1>
            <h2>Platform as a Service (PaaS)</h2>
            <ul>
              <li>Take full advantage of the cloud, avoiding cloud provider and technology lock-in</li>
              <li>Automate application deployment for your team, your organisation or your customers</li>
              <li>Streamline your processes with your own self-service IT platform or Enterprise App Store</li>
            </ul>
          </div>
          <center><a class="btn btn-primary btn-lg" role="button" 
            {% if page.layout == 'welcome' %}
        	    href="/products/slipstream"
        	  {% else %}
      	      href="/products/slipstream/paas"
        	  {% endif %}
        	    >Learn more &raquo;</a></center>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div>
          <div>
            <h1>
              <center>
                <span title="Cloud" class="glyphicon glyphicon-cloud"></span>
                <span style="color: gray">+</span>
                <span title="Cool" style="color: #CF2121" class="glyphicon glyphicon-sunglasses"></span>
              </center>
            </h1>
            <h2>DevOps platform</h2>
            <ul>
              <li>Increase the velocity and quality of your development and deployment</li>
              <li>Integrate cloud deployment into the heart of your development process</li>
              <li>Add full app deployment to your continuous integration system</li>
            </ul>
          </div>
          <center><a class="btn btn-primary btn-lg" role="button" 
            {% if page.layout == 'welcome' %}
        	    href="/products/slipstream"
        	  {% else %}
      	      href="/products/slipstream/paas"
        	  {% endif %}
        	    >Discover &raquo;</a></center>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div>
          <div>
            <h1>
              <center>
                <span title="Cloud" class="glyphicon glyphicon-cloud"></span>
                <span style="color: gray">+</span>
                <span title="Oh another cloud" style="color: #CF2121" class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
              </center>
            </h1>
            <h2>Hybrid cloud manager</h2>
            <ul>
              <li>Eliminate shadow-IT and reclaim infrastructure control</li>
              <li>Take full advantage of public cloud with sound governance and no compromise on security </li>
              <li>Use private and public cloud together to reduce costs and increase elasticity</li>
            </ul>
          </div>
          <center><a class="btn btn-primary btn-lg" role="button" 
            {% if page.layout == 'welcome' %}
        	    href="/products/slipstream"
        	  {% else %}
      	      href="/products/slipstream/paas"
        	  {% endif %}
        	    >Read it &raquo;</a></center>
        </div>
      </div>
    </div>
