<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/img/design/logo_clean.png">
      </a>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="main-navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="nav-products" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/products/slipstream"><b>SlipStream&reg;</b>: Multi-cloud management platform</a></li>
            <li><a href="/products/nuvlabox"><b>NuvlaBox&reg;</b>: Cloud-in-a-box appliance</a></li>
          </ul>
          <span></span>
        </li>
        <li id="nav-services" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://slipstream.sixsq.com"><b>SlipStream&reg; SaaS</b>: managed by SixSq</a></li>
            <li><a href="http://hnx.helix-nebula.eu"><b>Helix Nebula Marketplace</b>: Big science in the cloud</a></li>
          </ul>
          <span></span>
        </li>
        <!--<li id="nav-usecases" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Use Cases <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/products/slipstream/usecases#Enterprise-App-Store-/-Self-Service-IT">Deploy your own <b>Enterprise App Store / Self-Service IT</b></a></li>
            <li><a href="/products/slipstream/usecases#Hybrid-Cloud-Provisioning"><b>Hybrid Cloud</b> without the headache</a></li>
            <li><a href="/products/slipstream/usecases#LAMP-and-complex-application-provisioning"><b>Deploy complex apps</b> in any cloud in a snap</a></li>
            <li><a href="/products/nuvlabox/usecases#Schools-or-Federation-of-Schools">Cloud appliance</b> to support <b>eLearning in emerging regions</b></a></li>
            <li><a href="/products/nuvlabox/usecases#Field-Operations-with-Agile-Local-Infrastructure"><b>Turn-key field operation</b> infrastructure</a></li>
          </ul>
          <span></span>
        </li>-->
        <li id="nav-benefits" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benefits <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://media.sixsq.com/how-can-managed-service-providers-benefit-from-automation">Managed Service Provider (MSP)</a></li>
            <li><a href="http://media.sixsq.com/how-can-vars-benefit-from-application-deployment-automation">Value Added Reseller (VAR)</a></li>
            <li><a href="http://media.sixsq.com/how-can-iaas-providers-benefit-from-application-deployment-automation">IaaS provider</a></li>
            <li><a href="http://media.sixsq.com/how-helix-nebula-marketplace-delivers-cloud-to-big-science">Big science organisation</a></li>
            <li><a href="http://media.sixsq.com/how-to-bridge-the-digital-divide">IT provider in emerging economies</a></li>
          </ul>
          <span></span>
        </li>
        <li id="nav-personae"><a href="/personae">Personae<span></span></a></li>
        <li><a href="http://media.sixsq.com/blog">Blog</a><span></span></li>
        <li><a href="http://support.sixsq.com">FAQ</a><span></span></li>
        <li id="nav-r-and-d" class="hidden-sm"><a href="/r-and-d">R&amp;D</a><span></span></li>
        <li id="nav-about" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/customers">Customers</a><span></span></li>
            <li><a href="/jobs">Jobs</a><span></span></li>
            <li><a href="http://support.sixsq.com">Support</a><span></span></li>
          </ul>
          <span></span>
        </li>
        <li id="nav-media" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/news">News</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/eguides">eGuides</a></li>
          </ul>
          <span></span>
        </li>
      </ul>        
    </div>
  </div>
</header>

<div id="error-modal" class="alert alert-error" style="display:none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
</div>
