						<div class="col-lg-8 col-md-6 col-sm-12 video-section" style="display: flex; flex-direction: column;">
							<div class="section-title text-center">
								<h2 class="pt-20 pb-40 fw600">{{ post.title }}</h2>
							</div>
							<div class="content-video video">
								<iframe src="{{ post.link }}" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="desc mt-15">
								<h3 class="fw600"><a href="{{ post.link }}">{{ post.subtitle }}</a></h3>
								<p>{{ post.content }}</p>
							</div>
							<div class="section-news-button pt-10 mb-20 mr-20" style="align-self: center;">
								<a class="btn-sixsq all" href="/media/videos">All videos</a>
							</div>
						</div>
