		<!-- Start Newsletter -->
		<section class="section-newsletter relative">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 title-need-contact">
						<div class="col-md-2 icon-newsletter">
							<i class="fas fa-paper-plane" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 title-newsletter">
							<h2 class="fw600">Interested?</h2> 
							<h2 class="fw600">Keep up to date.</h2>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 newsletter nopadding">
						<div class="newsletter-text">
							<h3 class="fw700">Subscribe to Email Updates.</h3>
						</div>
            <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                portalId: '475360',
                formId: '176b8b7b-417a-4942-8a8f-2999de398116',
                css: ''
              });
            </script>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Newsletter -->