		<!-- Start Webinar -->
		<section class="section-newsletter relative">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 title-need-contact">
						<div class="col-md-3 icon-newsletter">
							<i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 title-newsletter">
							<!-- <h2 class="fw600">Interested?</h2>
              <h2 class="fw600">Keep up to date.</h2>
               --><h2 class="fw600">What is the edge?</h2>
              <h2 class="fw600">Discover <a href="https://nuvla.io">Nuvla.io</a></h2>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 newsletter nopadding">
						<div class="newsletter-text">
							<h3 class="fw700">Join our next webinar:</h3>
							<h3 class="fw700">Next date to be announced soon</h3>
							<a class="btn-sixsq color-dark mt-20" href="/media/webinar">Register</a>
						</div>
					</div>
				</div>
      </div>
			</div>
		</section>
		<!-- End Webinar -->
