		<!-- Start Newsletter -->
		<section class="section-newsletter relative">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 title-need-contact">
						<div class="col-md-2 icon-newsletter">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 title-newsletter">
							<h2 class="fw600">Interested?</h2> 
							<h2 class="fw600">Keep up to date.</h2>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 newsletter nopadding">
						<div class="newsletter-text">
							<h3 class="fw700">Subscribe to Email Updates.</h3>
						</div>
						<form id="mc-form" class="subscribe-field">
							<input type="email" placeholder="Enter Email Address" name="MERGE0" id="MERGE0" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
							 onfocus="this.placeholder =''" onblur="this.placeholder = 'Enter Email Address'" required>
							<button class="button-btn" name="submit"><span>Subscribe</span></button>
						</form>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Newsletter -->