<div style="color: white; background-color: #9B9B9B;">
  <div class="container spacy">
    <h1>What's next?</h1>
    <p>
Interested and want to know more? We'd be pleased to provide you with further information. Get in touch or simply order here.
    </p>
  </div>
  <div class="container">
    <button class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#contact-modal">
      Contact us
    </button>
  </div>
  <div class="container spacy">
    <button class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#order-modal">
      Order now
    </button>
  </div>
</div>

<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="contact-modal-label">Contact us</h4>
      </div>
      <div class="modal-body">
        <form id="contact-form" class="form-vertical" action="http://getsimpleform.com/messages/ajax?form_api_token=7673c6c3500a57c2403047aaa5ba9ca4" method="post">
          <input class="hidden" type="text" name="subject" value="enquiry"></input>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="bob.smith@acme.com" data-bv-notempty data-bv-notempty-message="The email is required"></input>
          </div>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="Bob"></input>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Smith"></input>
          </div>
          <div class="form-group">
            <label for="company">Company/Organisation</label>
            <input type="text" class="form-control" name="company" placeholder="ACME Inc"></input>
          </div>
          <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" name="message" placeholder="What can we help you with?"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="contact-thanks-modal" tabindex="-1" role="dialog" aria-labelledby="contact-thanks-modal-label">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="contact-modal-label">Thanks for your query</h4>
      </div>
        <div class="modal-body">
          <p>We will be in touch shortly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="order-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="order-modal-label">Order now</h4>
      </div>
      <form id="order-form" class="form-vertical" action="http://getsimpleform.com/messages/ajax?form_api_token=7673c6c3500a57c2403047aaa5ba9ca4" method="post">
        <input class="hidden" type="text" name="subject" value="order"></input>
        <div class="modal-body">
          <p>Want to order NuvlaBoxes? Please give us the following information and we will get in touch with you to arrange payment and shipping.</p>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="bob.smith@acme.com" data-bv-notempty data-bv-notempty-message="The email is required"></input>
          </div>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="Bob"></input>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Smith"></input>
          </div>
          <div class="form-group">
            <label for="company">Company/Organisation</label>
            <input type="text" class="form-control" name="company" placeholder="ACME Inc"></input>
          </div>
          <div class="form-group">
            <label for="company">How many?</label>
            <input type="text" class="form-control" name="number" placeholder="How many units do you need?"></input>
          </div>
          <div class="form-group">
              <label for="message">Shipping address</label>
              <textarea class="form-control" name="shipping" placeholder="Shipping address"></textarea>
          </div>
          <div class="form-group">
              <label for="message">Billing address (if different from shipping address)</label>
              <textarea class="form-control" name="billing" placeholder="Billing address"></textarea>
          </div>
          <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" name="message" placeholder="Any details you wish to share?"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Order</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="order-thanks-modal" tabindex="-1" role="dialog" aria-labelledby="order-thanks-modal-label">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="order-thanks-modal-label">Thanks for your order</h4>
      </div>
        <div class="modal-body">
          <p>We will be in touch shortly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
