<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    {% include {{ page.product }}-sub-menu.html %}

    {{ page.content }}

    <h2 class="text-center pt-50">Meet the team!</h2>
		<section class="section-about section-is-it-for">
			<div class="container">
				<div class="row justify-content-center icon-is-it-for pb-20 pt-20">
		      {% for post in site.staff %}
						{% include highlighted-staff.html %}
		      {% endfor %}
				</div>
			</div>
		</section>

		<!-- End Who is it for? -->	
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
