<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include top.html %}
  {% include nuvlabox_nav.html %}
  {% include nuvlabox_intro.html %}

    <div class="jumbotron">
        <div class="container">
            {% include nuvlabox_pitch.html %}
        </div>

        <div class="container">
            <div style="background-color: white; padding: 10px" class="row row-highlights">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <center>
                      <h3>NuvlaBox v2</h3>
                      <img style="max-width: 300px;" src="/img/content/nuvlabox/nuvlabox-v2.png" alt="NuvlaBox photo" />
                  </center>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <center>
                      <h3>NuvlaBox Mini</h3>
                      <img style="max-width: 300px;" src="/img/content/nuvlabox/nuvlabox-mini.png" alt="NuvlaBox mini photo" />
                  </center>
                </div>
            </div>
        </div>

        <div class="container big spacy">
          <h2>What do you get?</h2>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-lock"></span>
                      </center>
                  </h2>
              </div>
              <div class="col-md-6 col-2-text">
                <h2>Privacy &amp; Security</h2>
                <p>
For most smaller organisations, the cost of a private cloud infrastructure is prohibitive. With the NuvlaBox, you get an affordable entry point into cloud computing. NuvlaBox includes complete Infrastructure as a Service (IaaS)  and Platform as a Service (PaaS) solutions. All communication is encrypted and deployments automated for higher security. This means that there is no compromise on cloud capabilities. Or security. And it's all yours.
                </p>
              </div>
            </div>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-text">
                <h2>
                    Simplicity
                </h2>
                <p>
                    Smart factory settings and zero config means it's a child's play to set up and use. You plug it in, power it up and you are good to go. Combined with its remote-control capabilities, this means you don't always need IT experts on-site. 
                </p>
              </div>
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-leaf"></span>
                      </center>
                  </h2>
              </div>
            </div>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-signal"></span>
                      </center>
                  </h2>
              </div>
              <div class="col-md-6 col-2-text">
                <h2>
                    Connectivity
                </h2>
                <p>
                    Once powered-up, the box will create its own local Wi-Fi network, which can be used by any device (e.g. laptop, smart phone, tablet, pc). The NuvlaBox can also be remote controlled.
                </p>
              </div>
            </div>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-text">
                <h2>
                     Cost savings
                </h2>
                <p>
                    Replace up to 8 of your servers with an appliance as small as a modem...or 2 Swiss chocolate boxes. The NuvlaBox can fully manage up to 8 virtual servers, including applications, from a user-friendly web interface. Why clog up your office with ugly servers? 
                </p>
              </div>
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-piggy-bank"></span>
                      </center>
                  </h2>
              </div>
            </div>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-fullscreen"></span>
                      </center>
                  </h2>
              </div>
              <div class="col-md-6 col-2-text">
                <h2>
                   Scalability
                </h2>
                <p>
                   The NuvlaBox supports hybrid deployment scenarios, so you can scale out to remote or public clouds, giving you the simplest ever complete hybrid cloud solution. Workloads can easily be moved from a private cloud to a public cloud giving flexibility and efficient scaling. 
                </p>
              </div>
            </div>
            <div class="row row-highlights">
              <div class="col-md-6 col-2-text">
                <h2>
                  Designed in Switzerland, made in Europe
                </h2>
                <p>
                  The hardware of the NuvlaBox v2 and Mini appliances are the result of a fruitful collaboration between SixSq and <a href="http://logicsupply.com">Logic Supply</a> from Holland. Here is another example of SixSq, working closely with partners, taking in this case advantage of the experience of an expert in the field of hardware design, integration and products logistics.
                </p>
              </div>
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-thumbs-up"></span>
                      </center>
                  </h2>
              </div>
            </div>
          </div>

      <div class="main-story nuvlabox">
        <div class="container big spacy">
          <h2>Who is it for?</h2>
          <div id="enterprise" class="row row-highlights">
            <div class="col-md-6 col-2-image">
                <h2>
                    <center>
                        <span class="glyphicon glyphicon-tent"></span>
                    </center>
                </h2>
            </div>
            <div class="col-md-6 col-2-text">
              <h2>
                Small and Medium Enterprises
              </h2>
              <p>
                The NuvlaBox is perfect for SMEs wishing to access a small to medium-sized private cloud. It offers an affordable entry point into private company cloud computing which doesn't require on-site IT support.
              </p>
            </div>
          </div>
          <div id="sme" class="row row-highlights">
            <div class="col-md-6 col-2-text">
              <h2>
                Large Enterprises
              </h2>
              <p>
                Ideal for larger enterprises wishing to federate smaller sites, the NuvlaBox can be interconnected to maximise sharing and optimise resource utilisation. It also offers a solution to service providers experiencing edge-of-the-network problems.</p>
            </div>
            <div class="col-md-6 col-2-image">
                <h2>
                    <center>
                        <span class="glyphicon glyphicon-home"></span>
                    </center>
                </h2>
            </div>
          </div>
          <div id="gov_ngo" class="row row-highlights">
            <div class="col-md-6 col-2-image">
                <h2>
                    <center>
                        <span class="glyphicon glyphicon-globe"></span>
                    </center>
                </h2>
            </div>
            <div class="col-md-6 col-2-text">
              <h2>
                Governments and Public Bodies
              </h2>
              <p>
                Due to its simplicity, portability and flexibility, the NuvlaBox has countless uses in the field of education, medicine, field ops, critical infrastructure. Why not test us out and see if we can help you with your IT problem? 
        			</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      {% include whats_next.html %}
      {% include footer.html %}

  </body>
</html>
