<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include top.html %}
    {% if page.category == "r-and-d" %}
      {% include r-and-d.html %}
    {% else %}
      {% include media_nav.html %}
    {% endif %}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="list_title">{{ page.title }}
          </div>
          <div class="col-md-4">
            {% if page.image %}
              <img style="max-height: 5em;" src="{{ page.image }}" />
            {% endif %}
          </div>
        </div>
        {% if page.category == "news" %}
        <div class="date">{{ page.date | date: "%d %B %Y" }}</div>
        {% endif %}
        {% if page.author %}
        <div class="date">{{ page.date | date: "%d %B %Y" }} - by {{ page.author }}</div>
        {% endif %}
        <p/>
        <a class="twitter-share-button"
          href="https://twitter.com/share"
          data-via="sixsq">
        Tweet
        </a>
      </div>
    </div>
    
    <div class="container spacy">
      {% if page.category == "blog" %}
      <img class="blog-category" src="{{ page.image }}" alt="category" />
      {% endif %}
      {{ page.content | markdownify }}
      <a class="twitter-share-button"
        href="https://twitter.com/share"
        data-via="sixsq">
      Tweet
      </a>
    </div>

    <script type="text/javascript">
    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
    </script>
    
    {% include comments.html %}

    {% include whats_next.html %}

    {% include footer.html %}

    <script type="text/javascript">$("#menu_{{ page.class }} > a, nav li#sub_{{ page.sub }} > a").addClass("current");</script>

  </body>
</html>
