<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
  {% include top.html %}

  {% include slipstream_nav.html %}

  {% include slipstream_intro.html %}

  <div class="container big spacy">
    <h1>Use Cases</h1>

    <div class="row">
    {% for post in site.posts %}
      {% if post.category == page.category and post.class == page.class and post.layout == 'article' %}
      <div class="col-md-4">
        <h2>{{ post.title }}</h2>
        <p>
          {{ post.content | markdownify | truncatewords: 16 }}
        </p>
        <a class="btn btn-default" href="#{{ post.title | replace:' ','-' }}" role="button">Use case details &raquo;</a>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  {% for post in site.posts %}
    {% if post.category == page.category and post.class == page.class and post.layout == 'article' %}
    <div class="slipstream {% cycle 'odd', 'even' %}">
      <div class="container spacy">
        <h1 id="{{ post.title | replace:' ','-' }}">
          {{ post.title }}
        </h1>
        <h4>User: <a href="/personae/index.html#{{ post.persona }}">{{ post.persona }}</a></h4>
        <h4>Context: {{ post.context }}</a></h4>
        <div>
          {{ post.content }}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% include whats_next.html %}

  {% include footer.html %}

    <script type="text/javascript">$("#menu_{{ page.class }} > a, nav li#sub_{{ page.sub }} > a").addClass("current");</script>

  </body>
</html>
