<!DOCTYPE html>
<html>
   {% include head.html %}
  <body>
   {% include top.html %}
   {% include slipstream_nav.html %}
   {% include slipstream_intro.html %}

      <div class="container spacy">
        {{ page.content | markdownify }}
      </div>

      {% if page.with-videos %}
        {% include overview_videos.html %}
      {% endif %}

      {% include whats_next.html %}

      {% include footer.html %}

    <script type="text/javascript">$("#menu_{{ page.class }} > a, nav li#sub_{{ page.sub }} > a").addClass("current");</script>

  </body>
</html>
