<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html 
   xmlns="http://www.w3.org/1999/xhtml" 
   xml:lang="en" 
   version="XHTML+RDFa 1.0" 
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}
  
  <body class="not_front_page">
    <div id="wrapper">

      <div id="header">
        {% include top.html %}
      </div>

      <div id="content">
        <div class="content_bg">

          <div class="breadcrumb">
            <a href="/" class="first">Home</a>
			{% if page.parent %}
            <a href="{{ page.parent }}">{{ page.category | capitalize }}</a>
			{% else %}
            <a href="/{{ page.category }}/index.html">{{ page.category | capitalize }}</a>
            {% endif %}
            <a href="{{ page.url }}" class="current">{{ page.title }}</a>
          </div>
          
          <div class="main">
            {% if page.title_gfx %}
            <img src="{{ page.title_gfx }}" alt="{{ page.title }}" /> 
            {% else %}
            <h1 class="list_title">{{ page.title }}</h1>
            {% endif %}
            {% if page.category == "news" %}
            <div class="date">{{ page.date | date: "%d %B %Y" }}</div>
            {% endif %}
            {% if page.author %}
            <div class="date">{{ page.date | date: "%d %B %Y" }} - by {{ page.author }}</div>
            {% endif %}

            <div class="article">
              {{ page.content | markdownify }}
            </div>

			{% if page.comments %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = 'sixsq';

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>			{% endif %}
          </div>
          
          {% include side-latest.html %}

        </div>
      </div>

      {% include customers.html %}

      {% include footer.html %}

    </div>

  </body>
</html>
