<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include top.html %}
  {% include slipstream_nav.html %}
  {% include slipstream_intro.html %}

      <div class="jumbotron">

          <div class="container">
              {% include slipstream_pitch.html %}
          </div>

          <div class="container big spacy">
            <h2>What do you get?</h2>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-image">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-flash"></span>
                        </center>
                    </h2>
                </div>
                <div class="col-md-6 col-2-text">
                    <h2>Automation</h2>
                    <p>Repetitive, manual deployments are costing your organisation money. Introducing automation will reduce expenditure and give your teams more time to create greater things.</p>
                    <center><a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/tryme">Try me &raquo;</a></center>
                </div>
            </div>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-text">
                    <h2>Cloud Neutrality</h2>
                    <p>SlipStream communicates with all mainstream cloud, i.e.<a href="/products/slipstream/cloud-connectors/">, 
                    <a href="http://media.sixsq.com/blog/tackling-cloud-jargon">IaaS</a>, solutions.</a> via a connector architecture. This means we're already talking to the cloud you use and will make it easier for you to deploy your apps there. Or if you can't decide which cloud to use, SlipStream takes the stress out of making the wrong decision. SlipStream’s cloud neutrality means it isolates users from vendor lock-in, providing unprecedented flexibility in your choice of cloud solutions.</p>
                    <center><a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/cloud-connectors">All clouds &raquo;</a></center>
                </div>
                <div class="col-md-6 col-2-image vertical-align">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-leaf"></span>
                        </center>
                    </h2>
                </div>
            </div>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-image">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-fullscreen"></span>
                        </center>
                    </h2>
                </div>
                <div class="col-md-6 col-2-text">
                    <h2>Scalability</h2>
                    <p>If your private cloud is not giving you all you need, but you don't want to invest in more infrastructure, you can use SlipSteam to scale out to a public cloud and get the best of both worlds.</p>
                    <center><a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/features">Learn more &raquo;</a></center>
                </div>
            </div>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-text">
                    <h2>An Extensible Framework</h2>
                    <p>Take advantage of existing templates, such as load balancers, database clusters, Hadoop systems and more. But don't stop there, you can extend these and create your own. You can also take advantage of configuration management systems, such as Puppet, Chef and Ansible. What about Docker? It's also batteries included, with support for Docker and Docker Swarms.</p>
                    <center><a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/features">Read all about it &raquo;</a></center>
                </div>
                <div class="col-md-6 col-2-image vertical-align">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-resize-full"></span>
                        </center>
                    </h2>
                </div>
            </div>
        </div>

        <div class="container big spacy">
          <h2  id="who-is-SlipStream-for">Who is it for?</h2>
          <div id="enterprise" class="row row-highlights">
              <div class="col-md-6 col-2-image">
                  <h2>
                      <center>
                          <span class="glyphicon glyphicon-check"></span>
                      </center>
                  </h2>
              </div>
              <div class="col-md-6 col-2-text">
                  <h2>CIOs struggling to control cloud usage</h2>
                  <p>If your developers are using their own credentials to access cloud services because provisioning applications within  your organisation is too long-winded and time-consuming, then SlipStream is for you.</p>
                  <center><a class="btn btn-primary btn-lg" role="button" href="/contact/#contact-us-form">Get in touch &raquo;</a></center>
              </div>
          </div>
          <div id="newbies" class="row row-highlights">
              <div class="col-md-6 col-2-text">
                  <h2>Cloud Newbies</h2>
                  <p>If you are considering cloud but don't want to make that big, and possibly expensive, decision of signing up with one cloud provider, SlipStream can give you access to most of the mainstream IaaS providers without being stuck with vendor lock-in.</p>
                  <center><a class="btn btn-primary btn-lg" role="button" href="/contact/#contact-us-form">Get in touch &raquo;</a></center>
              </div>
              <div class="col-md-6 col-2-image">
                <h2>
                  <center>
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </center>
                </h2>
              </div>
          </div>
          <div id="msp" class="row row-highlights">
              <div class="col-md-6 col-2-image">
                <h2>
                  <center>
                    <img style="max-height: 280px;" src="/img/content/eguides/MSP_eguide_screen_shot.png" alt="MSP_eGuide_screen_shot"/>
                  </center>
                </h2>
              </div>
              <div class="col-md-6 col-2-text">
                <h2>Managed Service Providers</h2>
                <p>The Managed Services sector represents the largest growing component of the IT market. SlipStream helps MSPs differentiate themselves in this highly competitive environment by allowing them to take advantage of automation and provide a higher level of service without adding cost.</p>
                <center>
                  <a class="btn btn-primary btn-lg" role="button" href="http://media.sixsq.com/how-can-managed-service-providers-benefit-from-automation">Learn more &raquo;</a>
                </center>
              </div>
          </div>
          <div id="var" class="row row-highlights">
              <div class="col-md-6 col-2-text">
                <h2>Value Added Resellers</h2>
                <p>The shift to cloud services, particularly to “Software as a Service offerings”, has  disrupted the Value-Added Reseller business model. In the cloud era, customers now expect access to their specialised applications without the hassle and cost of running the hardware. SlipStream helps VARs offer that service.</p>
                <center>
                  <a class="btn btn-primary btn-lg" role="button" href="http://media.sixsq.com/how-can-vars-benefit-from-application-deployment-automation">Learn more &raquo;</a>
                </center>
              </div>
              <div class="col-md-6 col-2-image">
                <h2>
                  <center>
                    <img style="max-height: 280px;" src="/img/content/eguides/VAR_eguide_screen_shot.png"/>
                  </center>
                </h2>
              </div>
          </div>
          <div id="iaas-provider" class="row row-highlights">
              <div class="col-md-6 col-2-image">
                <h2>
                  <center>
                    <img style="max-height: 280px;" src="/img/content/eguides/IaaS_eguide_screen_shot.png" />
                  </center>
                </h2>
              </div>
              <div class="col-md-6 col-2-text">
                <h2>IaaS Providers</h2>
                <p>The commoditisation of cloud resources has squeezed IaaS service providers forcing them to differentiate their services from their competitors or to live with ever reducing margins. They face increasing competition from cloud service offerings at all levels. SlipStream meets these challenges, providing advanced automation features and significant benefits simplifying the transition from a IaaS provider to a Managed Service Provider.</p>
                <center>
                  <a class="btn btn-primary btn-lg" role="button" href="http://media.sixsq.com/how-can-iaas-providers-benefit-from-application-deployment-automation">Learn more &raquo;</a>
                </center>
              </div>
          </div>
      </div>

          <div class="container big spacy">
            <h2 id="how-to-use-SlipStream">How do you use it?</h2>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-image">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-play"></span>
                        </center>
                    </h2>
                </div>
                <div class="col-md-6 col-2-text">
		            <h2>Sign up for free on Nuvla, the SlipStream as a Service managed by SixSq</h2>
		            <p>SlipStream can be used for free via Nuvla. You only pay for the cloud services you consume. This is a good option if your organisation is happy with the idea of public cloud. Or if you just want to test it out. Signing up takes just a couple of minutes and the user interface is a pleasure. Go ahead, give it a try!</p>
                <center>
                  <a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/tryme">Try me &raquo;</a>
                </center>
              </div>
            </div>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-text">
			        <h2>Install it on premise</h2>
			        <p>If you prefer to install SlipStream within your own walls, you can buy an on-premise license. The model can be tailor-made to suit your organisation. This option is best if you need access to support and maintenance, and to proprietary connectors.</p>
              <center>
                <a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/install">Install &raquo;</a>
              </center>
			    </div>
                <div class="col-md-6 col-2-image">
                    <h2>
                        <center>
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </center>
                    </h2>
                </div>
            </div>
            <div class="row row-highlights">
                <div class="col-md-6 col-2-image">
                    <h2>
                        <center>
                            <img src="/img/content/nuvlabox/nuvlabox-v2.png"></span>
                        </center>
                    </h2>
                </div>
                <div class="col-md-6 col-2-text">
			        <h2>Buy our <src href="/products/nuvlabox">NuvlaBox</src></h2>
			        <p>SlipStream also comes packaged in its own portable appliance, giving you an affordable way to benefit from a private cloud supplied with top class software.</p>
			        <p>This provides an affordable entry point to cloud computing. The NuvlaBox sets up in seconds and thanks to its robust fan-less design, will run for a long time.</p>
			        <p>Remote management and update of apps is also supported using a SlipStream 'mothership'.</p>
              <center>
                <a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox">Tell me more &raquo;</a>
              </center>
            </div>
          </div>
        </div>
      </div>
      
      {% include whats_next.html %}
      {% include footer.html %}

  </body>
</html>
