<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    {% include {{ page.product }}-sub-menu.html %}
		<section class="mt-20 section-is-it-for">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
						<h2 class="pb-10 fw700">Discover real world applications of {{ page.product-name }}.</h2>
            {{ page.content | markdownify }}
					</div>
				</div>
			</div>
		</section>
		<div class="justify-content-center minimum-height:1000px">
      {% for post in site.solutions %}
        {% if post.product == page.product %}
          {% if post.class == 'usecase' %}
            <div class="widget-section text-center mt-20 mb-20"><i class="fas fa-circle"></i></div>
            {% include highlighted-with-image-full-width-item.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
		<!-- Start what do you get? -->	
		<section class="bg-white mt-20 section-do-you-get animated">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
							<h2 class="pb-10 fw700">What do you get?</h2>
					</div>
				</div>
				<div class="row justify-content-center pb-50 pt-50">
					<div class="product-page-carousel parent-container">
            {% for post in site.casestudies %}
              {% if post.product == page.product %}
                {% if post.class == 'feature' %}
                  {% if post.main-feature == true %}
                    {% include carousel-with-icon-item.html %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
					</div>
    			<div class="col-md-12 text-center">
    			  <a class="btn-sixsq color-dark" href="/casestudies/{{ page.product }}/features"><i class="far fa-plus-square"></i>  Discover all features</a>
          </div>
				</div>
			</div>
		</section>
		<!-- Stop what do you get? -->
    {% include whats-next.html %}
    {% include primary-footer.html %}
  </main>
  {% include secondary-footer.html %}
  </body>
</html>
