<!DOCTYPE html>
<html>
   {% include head.html %}
  <body>
   {% include top.html %}

  <div class="jumbotron nuvlabox-main-story">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  {% for post in site.posts %}
    {% if post.category == page.category %}
    <div class="{% cycle 'even', 'odd' %} spacy">
      <div class="container">
        <center>
        <a href="{{ post.url }}">
          <img src="{{ post.image }}" />
        </a>
        <p/>
        </center>
        <h2>
          <a href="{{ post.url }}" class="title">{{ post.title }}</a>
        </h2>
        {{ post.content | strip_html | truncatewords: 25 }}
        {% if post.category == news %}
          <div class="date">{{ post.date | date: "%d %B %Y" }}</div>
        {% endif %}
        {% if post.author %}
          <p/>
          <div class="author">By: {{ post.author }}</div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% include footer.html %}

    <!-- <script type="text/javascript">$("#nav-media").addClass("active");</script> -->

  </body>
</html>
