<!DOCTYPE html>
<html>
   {% include head.html %}
  <body>
   {% include top.html %}
   {% if page.class == "r-and-d" %}
     {% include r-and-d.html %}
   {% else %}
     {% include media_nav.html %}
   {% endif %}

  <div class="jumbotron">
    <div class="container">
      <h1>{{ page.title }}</h1>
      {{ page.content | markdownify }}
    </div>

    <div class="container big">
      {% for post in site.posts %}
        {% if post.category == page.category %}

          <div class="row row-highlights">

          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if thecycle == 'odd' %}

            {% include left.html %}
            {% include right.html %}

          {% else %}

            {% include right.html %}
            {% include left.html %}

          {% endif %}

          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  {% include whats_next.html %}

  {% include footer.html %}

  </body>
</html>
