<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html
   xmlns="http://www.w3.org/1999/xhtml"
   xml:lang="en"
   version="XHTML+RDFa 1.0"
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}

  <body class="not_front_page">
    <div id="wrapper">

      <div id="header">
        {% include top.html %}
      </div>

      <div id="content">
        <div class="content_bg">

          <div class="main twothirdscolumn">
            <h1 class="list_title">{{ page.title }}</h1>

            {{ page.content | markdownify }}

            <br/><br/><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SixSq,+Meyrin&amp;aq=0&amp;oq=sixsq&amp;sll=47.377455,8.536715&amp;sspn=0.261082,0.228996&amp;ie=UTF8&amp;hq=SixSq,&amp;hnear=Meyrin,+Geneva&amp;t=m&amp;ll=46.229461,6.079216&amp;spn=0.01425,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ch/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=SixSq,+Meyrin&amp;aq=0&amp;oq=sixsq&amp;sll=47.377455,8.536715&amp;sspn=0.261082,0.228996&amp;ie=UTF8&amp;hq=SixSq,&amp;hnear=Meyrin,+Geneva&amp;t=m&amp;ll=46.229461,6.079216&amp;spn=0.01425,0.027466&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

          </div>

          {% include side-products.html %}

        </div>
      </div>

      {% include footer.html %}

    </div>

    <script type="text/javascript">$("#menu_{{ page.class }} > a").addClass("current");</script>

  </body>
</html>
