<!DOCTYPE html>
<html>
   {% include head.html %}
  <body>
   {% include top.html %}
   {% include {{ page.category }}_nav.html %}

  <div class="jumbotron">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p>Our customers are large and small system integrators, high-tech companies, institutions and agencies. We value transparent relationships, built on trust and honesty. This approach is valued by our customers and partners, giving us an edge over competition.</p>
    </div>
  </div>
  {% for post in site.posts %}
    {% if post.class == page.class %}
    <div class="{% cycle 'even', 'odd' %} spacy">
      <div class="container">
        <p/>
        <center>
        <a href="{{ post.url }}">
          <img src="{{ post.image }}" />
        </a>
        <p/>
        </center>
        {{ post.content }}
      </div>
    </div>
    {% endif %}
  {% endfor %}

  {% include whats_next.html %}

  {% include footer.html %}

  </body>
</html>

