<!DOCTYPE html>

<html 
   xmlns="http://www.w3.org/1999/xhtml" 
   xml:lang="en" 
   version="XHTML+RDFa 1.0" 
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}
  
  <body class="not_front_page">
    <div id="wrapper">

      <div id="header">
        {% include top.html %}
      </div>

          <div class="jumbotron">
            <div class="container">
              <h1>{{ page.title }}</h1>
              <p>Our customers are large and small system integrators, high-tech companies, institutions and agencies. We value transparent relationships, built on trust and honesty. This approach is valued by our customers and partners, giving us an edge over competition.</p>
            </div>
          </div>
          {% for post in site.posts %}
            {% if post.category == page.category %}
            <div class="{% cycle 'even', 'odd' %} spacy">
              <div class="container">
                <center>
                <a href="{{ post.url }}">
    	            <img src="{{ post.image }}" />
    	          </a>
    	          <p/>
                </center>
                {{ post.content }}
              </div>
            </div>
            {% endif %}
          {% endfor %}

          {% include whats-next-and-order.html %}

          {% include footer.html %}

          <script type="text/javascript">$("#menu_{{ page.class }} > a, nav li#sub_{{ page.sub }} > a").addClass("current");</script>

  </body>
</html>
