<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
		<!-- Start what do you get? -->	
		<section class="section-is-it-for pt-50 pb-20">
			<div class="container">
        {{ page.content | markdownify }}
			</div>
    </section>
		<section class="section-is-it-for bg-grey-e4 pt-50 pb-50">
      <a class="anchor" id="marketplace-features"></a>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 section-title text-center">
							<h2 class="fw700">Discover the main features</h2>
					</div>
				</div>
				<div class="row justify-content-center icon-is-it-for">
          {% for post in site.products-and-services %}
            {% if post.product == page.product or page.uberproduct == post.product %}
              {% if post.class == page.class %}
                {% include highlighted-with-image-item-no-truncation.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
			</div>
    </section>
		<section class="section-is-it-for bg-grey-f9 pt-50 pb-70">
      <a class="anchor" id="integration"></a>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 section-title">
							<h2 class="fw700 text-center">Limited offer October only: free app integration!</h2>

              <h3>We are nearing the official launch date of the Nuvla.io Marketplace.</h3>
              <p>
In preparation, we are offering free integration to app vendors and start-ups in October. This is the easiest way have your apps deployed at scale and in a click at the edge and in the cloud.
              </p>
              <h3 class="pt-10">
What do we expect from you?
              </h3>
<ul class="bulleted-list pb-10" style="padding-left: 20px;">
  <li>Package your app as Docker containers.</li>
  <li>Apps for the edge must be either a single Docker container, or Docker Compose or Docker Swarm.</li>
  <li>Apps for the cloud can be as for the edge or Kubernetes Manifest (depends on what infrastructure your customers run).</li>
  <li>We recommend you upload your images in a registry protected by username/password.</li>
  <li>Decide how much you want to charge for your app.</li>
  <li>Decide if you want your apps to be public or private (you share them with your customers).</li>
</ul>

              <h3 class="pt-10">
What can you expect from SixSq engineers?
              </h3>

<ul class="bulleted-list pb-10" style="padding-left: 20px;">
  <li>We will dedicate up to 2 days of engineering support.</li>
  <li>Walk you through the process if you are not familiar with Nuvla.io.</li>
  <li>Certify your app on the Nuvla.io platform.</li>
</ul>

              <h3 class="pt-10">
What can you expect from Nuvla.io?
              </h3>

<ul class="bulleted-list pb-10" style="padding-left: 20px;">
  <li>Nuvla.io meters hourly and invoices monthly.</li>
  <li>You get paid as soon as the customer pays.</li>
  <li>SixSq takes a fee and forwards the rest to you.</li>
  <li>We can give you promotional coupons to help you promote your apps to customers.</li>
</ul>

              <h3 class="pt-10">
Here are a few resources you might find helpful to familiarise yourself with Nuvla.io:
              </h3>

<ul class="bulleted-list pb-10" style="padding-left: 20px;">
  <li>SixSq Classroom <a href="https://cutt.ly/sixsq-classroom">YouTube channel</a></li>
  <li>Nuvla.io technical <a href="https://docs.nuvla.io">documentation website</a></li>
</ul>

              <p>
You will also find Case Studies on our website: <a href="/casestudies/city/overview">Smart City</a>, <a href="/casestudies/outpost/overview">Outpost and Field Clinics</a>, <a href="/casestudies/retail/overview">Retail</a>, <a href="/casestudies/science/overview">Big Data Science</a>.
              </p>

						<h3 class="fw700 text-center pt-50">Interested? Get in touch by <a href="mailto:support@sixsq.com?subject=Marketplace app integration">email</a> or simply use the <a href="javascript:void(0);" onclick="Intercom('show');">chat widget</a>.</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- Stop what do you get? -->
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
