<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
  	<main>
      {% include {{ page.product }}-banner.html %}
      {% include {{ page.product }}-sub-menu.html %}
      <section class="section-intro-product section-full section-is-it-for">
      	<div class="container">
          <div id="nuvlabox-product-description" class="col-md-12 text-center mb-20">
            <h4 style="line-height: 1.5em">{{ page.content | markdownify }}</h4>
          </div>
        </div>
      </section>
      <section class="mt-20 section-is-it-for">
        <div class="container">
          <div class="row justify-content-center icon-is-it-for mt-50 mb-50">
            {% assign height = "250px" %}
            {% for post in site.products-and-services %}
              {% if post.product == page.product %}
                {% if post.class == 'hardware-overview' %}
                  {% include highlighted-with-image-no-title-item-no-truncation.html %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
    		</div>
      </section>
      <section class="mt-20 section-is-it-for">
        <div class="container">
          <div class="row justify-content-center icon-is-it-for mt-50 mb-50">
            {% assign height = "200px" %}
            {% for post in site.products-and-services %}
              {% if post.product == page.product %}
                {% if post.supplier == 'hpe' %}
                  {% if post.class == 'hardware' %}
                    {% include highlighted-with-image-no-title-item-no-truncation.html %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
    		</div>
      </section>
      {% include whats-next.html %}
  		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
