<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
		<section class="mt-20 section-is-it-for">
			<div class="container">
				<div class="row justify-content-center icon-is-it-for pb-50 bg-grey1">
          {% for post in site.products-and-services %}
            {% if post.product == page.product %}
              {% if post.class == 'pricing' %}
                {% include pricing-item.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
			</div>
		</section>
		<section class="section-is-it-for">
			<div class="container pt-50 pb-50">
        {{ page.content | markdownify }}
      </div>
		</section>
		<!-- Stop what do you get? -->
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
