<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    {% include {{ page.product }}-sub-menu.html %}
		<!-- Start what do you get? -->	
		<section class="section-intro-product">
			<div class="container">
        {{ page.content | markdownify }}
			</div>
		</section>
		<section class="bg-white mt-20 section-do-you-get animated">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
							<h2 class="pb-10 fw700">What do you get?</h2>
					</div>
				</div>
				<div class="row justify-content-center pb-50 pt-50">
					<div class="product-page-carousel parent-container">
            {% for post in site.products-and-services %}
              {% if page.product == post.product or page.uberproduct == post.product %}
                {% if post.class == 'feature' %}
                  {% if post.main-feature == true %}
                    {% include carousel-with-icon-item.html %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
					</div>
    			<div class="col-md-12 text-center">
    			  <a class="btn-sixsq color-dark" href="/products-and-services/{{ page.product }}/features"><i class="far fa-plus-square"></i>  Discover all features</a>
          </div>
				</div>
			</div>
		</section>
		<!-- Stop what do you get? -->
		<!-- Start Who is it for? -->	
		<section id="who-is-it-for" class="mt-20 section-is-it-for">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
							<h2 class="pb-10 fw700">Who is it for?</h2>
					</div>
				</div>
				<div class="row justify-content-center icon-is-it-for pb-50 pt-50">
          {% for post in site.products-and-services %}
            {% if post.product == 'nuvla-io' %}
              {% if post.class == 'target-audience' %}
                {% include highlighted-with-image-item-no-truncation.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
				</div>
			</div>
		</section>
		<section class="bg-white mt-20 section-is-it-for">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
							<h2 class="pb-10 fw700">Here have a look.</h2>
					</div>
				</div>
				<div class="row justify-content-center icon-is-it-for pb-50 pt-50">
          <iframe width="540" height="304" src="https://www.youtube.com/embed/BHzbEDzyfnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<!-- End Who is it for? -->	
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
