<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}

		<section id="who-is-it-for" class="section-is-it-for">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
							<h2 class="fw700">Who is it for?</h2>
					</div>
				</div>
				<div class="row justify-content-center icon-is-it-for pb-50 pt-20">
          {% for post in site.products-and-services %}
            {% if post.product == 'nuvla-io' %}
              {% if post.class == 'target-audience' %}
                {% include highlighted-with-image-item-no-truncation.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
				</div>
			</div>
		</section>

	  <section class="section-full bg-grey-e4 section-news section-partners section-is-it-for relative" style="height: auto;">
			<div class="container text-center">
				<h2 class="pb-20 fw700">Key Features.</h2>
				<div class="row icon-is-it-for ">
        {% for post in site.products-and-services %}
          {% if page.product == post.product or page.uberproduct == post.product %}
            {% if post.class == 'feature' %}
              {% if post.main-feature == true %}
                {% include highlighted-with-image-item-no-truncation.html %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      	</div>
			</div>
			<div class="section-title text-center pt-40">
      	<a class="btn-sixsq all text-center" href="/products-and-services/{{ page.product }}/features">Discover all features</a>
    	</div>
		</section>

	  <section class="section-full bg-grey-f9 section-news section-partners section-is-it-for relative" style="height: auto;">
			<div class="container text-center">
				<h2 class="pb-20 fw700">Customers.</h2>
				<div class="row icon-is-it-for">
        {% for post in site.customers %}
          {% if post.top-story == true %}
		      <div class="col-lg-3 col-md-12 col-sm-12 pb-20 item icon animated bandw" style="align-item: center; display: flex; flex-direction: column; justify-content: space-between">
            {% include welcome-partners-item.html %}
    	    </div>
          {% endif %}
        {% endfor %}
      	</div>
			</div>
			<div class="section-title text-center pt-40">
      	<a class="btn-sixsq all text-center" href="/about/customers">More customers</a>
    	</div>
		</section>

		<section class="section-intro-product section-is-it-for bg-white">
			<div class="container">
        {{ page.content | markdownify }}
			</div>
		</section>

    {% include video.html video-id='BHzbEDzyfnQ' title='Here have a look' subtitle="Managing peripherals doesn't have to be complex. Here, see it for yourself." bg='bg-grey-f9' %}
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
