<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
  	<main>
      {% include {{ page.product }}-banner.html %}
      {% include {{ page.product }}-sub-menu.html %}
      <section class="section-intro-product section-intro-product section-is-it-for bg-white">
      	<div class="container">
          {{ page.content | markdownify }}
        </div>
      </section>
      {% include whats-next.html %}
  		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
