<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    {% include {{ page.product }}-sub-menu.html %}
		<!-- Start Who is it for? -->	
		<section class="mt-20 section-is-it-for">
			<div class="container">
				<div class="row justify-content-center pt-50">
					<div class="col-md-12 section-title text-center">
						<h2 class="pb-10 fw700">Discover how {{ page.product-name }} works.</h2>
					</div>
				</div>
			</div>
		</section>
		<section class="mt-50 mb-50">
			<div class="container">
        <h4>
          {{ page.content | markdownify }}
        </h4>
			</div>
		</section>
		<!-- End Who is it for? -->	
    {% include whats-next.html %}
		<!-- End Section News -->	
    {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
