<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    {% include {{ page.product }}-sub-menu.html %}
    {{ page.content }}
		<section class="section-videos">
      <div id="talks" class="container">
        <h2>Our Discover Channel</h2>
        <div class="row"></div>
        <a class="btn-sixsq mb-10 color-3 text-center" href="//www.youtube.com/channel/UCGYw3n7c-QsDtsVH32By1-g"><i class="far fa-plus-square"></i>  Watch on Youtube</a>
      </div>
      <div id="tutorials" class="container">
        <h2>Our Tutorials Channel</h2>
        <div class="row"></div>
        <a class="btn-sixsq mb-50 color-3 text-center" href="//www.youtube.com/channel/UCGYw3n7c-QsDtsVH32By1-g"><i class="far fa-plus-square"></i>  Watch on Youtube</a>
      </div>
      <div id="col-template" style="display: none;">
        <div class="col-md-6 col-sm-5 col-xs-12 container spacy mb-20">
          <h3>Title...</h3>
          <p>
            <div class="embed-responsive embed-responsive-16by9"></div>
          </p>
        </div>
      </div>
		</section>
    {% include whats-next.html %}
    {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
