<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include top.html %}

    <!--<div class="banner hidden-xs">
      <div>
        <a href="/jobs">We're hiring!</a>
      </div>
    </div>-->

	<div class="jumbotron">
	  <div class="container">
      <p/>
	    <h1>SlipStream&reg;: Application Deployment Platform</h1>
	    <h2>Affordable, multi-cloud application management platform, built on open source professional software, for the enterprise, with love.</h2>
      {% include slipstream_pitch.html %}
    </div>
  </div>

  <div class="jumbotron main-story nuvlabox">
    <div class="container">
      <h1>NuvlaBox&reg;: Cloud in a box appliance</h1>
      <h2>All the power of the cloud packaged in a simple, small and secure device.</h2>
      {% include nuvlabox_pitch.html %}
    </div>
  </div>
    
    <div class="jumbotron main-story">
      <div class="container spacy">
        <h1>All Clouds Supported</h1>
        <div class="row row-summary-nuvlabox">
          <div class="col-md-6">
            <p align="center">
              <img src="/img/content/cloud_providers_color_on_transparent_1000px.png" alt="SlipStream Supported Clouds" />
            </p>
          </div>
          <div class="col-md-6">
            <h2>We support all mainstream clouds</h2>
            <h3>Can't find your cloud? Get in touch... chances are we're already working on it.</h3>
            <p style="padding-top: 30px;"><a class="btn btn-primary btn-lg" role="button" href="/products/slipstream/features">Learn more &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

	  {% include whats_next.html %}        
    {% include footer.html %}

  </body>
</html>
