<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include top.html %}

    <!--<div class="banner hidden-xs">
      <div>
        <a href="/jobs">We're hiring!</a>
      </div>
    </div>-->

    {% include slipstream_intro.html %}

  	<div class="jumbotron">
      <div class="container">
        {% include slipstream_pitch.html %}
      </div>
    </div>
       </div>
          </div>
    </div>

    {% include nuvlabox_intro.html %}

    <div class="jumbotron main-story nuvlabox">
      <div class="container">
        {% include nuvlabox_pitch.html %}
      </div>
    </div>
    
    {% include whats_next.html %}        
    {% include footer.html %}

  </body>
</html>
