<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include top.html %}

    <!--<div class="banner hidden-xs">
      <div>
        <a href="/jobs">We're hiring!</a>
      </div>
    </div>-->

    <!--<div class="banner">
      <div>
        <a href="/jobs/index.html">We're hiring!</a>
      </div>
    </div>-->

    <div style="margin-top: 3px;" class="jumbotron top_product slipstream">
      <div class="container">
          <div class="row row-summary">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <h1>
            	  {% if page.subtitle %}
            	    {{ page.subtitle }}
            	  {% else %}
            	    SixSq: Cloud Neutral Solutions
                {% endif %}
              	</h1>
                {% if page.summary %}
                  <p>{{ page.summary }}</p>
                {% else %}
                  <p>Our smart cloud solutions deliver the business benefits of PaaS, DevOps and Hybrid Cloud.</p>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <center>
                <a href="/contact/#contact-us-form" class="btn btn-primary btn-lg banner-message">
                  <h4>
                  Questions?
                  </h4>
                  <h5>
                  Contact Us!
                  </h5>
                </a>
              </center>
            </div>
          </div>
      </div>
    </div>
    
  	<div class="jumbotron">
      <div class="container">
          <h2>Our products and services</h2>
          <div class="row row-summary row-summary-sixsq">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                  <div>
                    <center>
                      <img style="max-height: 40px;" src="/img/content/nuvla/nuvla_logo_red_on_transparent_512px.png" alt="Nuvla">
                      <h2>
                        Smart Cloud Brokerage
                      </h2>
                    </center>
                    <ul>

                      <li>All Clouds to choose from</li>
                      <li>No lock-in</li>
                      <li>Cost control</li>
                      <li>Self-service IT</li>
                      <li>Clear governance</li>
                    </ul>
                  </div>
                  <center>
                      <a class="btn btn-primary btn-lg" role="button" href="/services/nuvla">Read it &raquo;</a>
                  </center>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div>
                <div>
                  <center>
                    <img src="/img/design/nuvlabox_logo_red_on_transparent_256px.png" alt="NuvlaBox">
                    <h2>
                      Smart Cloud-in-a-box Appliance 
                    </h2>
                  </center>
                  <ul>
                    <li>Simple IT solution</li>
                    <li>Private and secure cloud</li>
                    <li>Plug and play</li>
                    <li>Remote management and application update</li>
                  </ul>
                </div>
                <center>
                    <a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox">Discover &raquo;</a>
                </center>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div>
                <div>
                  <center>
                    <img src="/img/design/slipstream_logo_red_on_transparent_256px.png" alt="SlipStream">
                    <h2>
                        Smart Cloud Application Management
                    </h2>
                  </center>
                  <ul>
                    <li>Any application in any cloud</li>
                    <li>1-click application deployment</li>
                    <li>Supports DevOps, Big Data and Smart City strategies</li>
                    <li>Cost savings via automation</li>
                    
                  </ul>
                </div>
                <center>
                  <a class="btn btn-primary btn-lg" role="button" href="/products/slipstream">Learn more &raquo;</a>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  	<div class="jumbotron">
      <div class="container">
          <h2>Smart Cloud-in-a-box Appliance</h2>
          <div style="background-color: white; padding: 20px">
              <div class="row row-summary">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <center>
                        <h3>NuvlaBox v2</h3>
                        <img class="img-responsive" style="max-width: 300px;" src="/img/content/nuvlabox/nuvlabox-v2.png" alt="NuvlaBox photo" />
                    </center>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <center>
                        <h3>NuvlaBox Mini</h3>
                        <img style="max-width: 300px;" src="/img/content/nuvlabox/nuvlabox-mini.png" alt="NuvlaBox mini photo" />
                    </center>
                  </div>
              </div>
              <center>
                  <a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox">Discover &raquo;</a>
              </center>
          </div>
      </div>
    </div>

<!--


<div class="jumbotron">
  <div class="container">
      <h2>Our solutions</h2>
      <div class="row row-summary row-summary-sixsq">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div>
            <div>
              <center>
                <h2>
                    Smart City Sensor Aggregation
                </h2>
              </center>
              <ul>
                <li>Increase cyber security</li>
                <li>Reduce network usage</li>
                <li>Remote control your infrastructure</li>
                <strong><li>Massive maintenance and operation savings!</li></strong>
              </ul>
            </div>
            <center>
              <a class="btn btn-primary btn-lg" role="button" href="/products/slipstream">Learn more &raquo;</a>
            </center>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div>
            <div>
              <center>
                <h2>
                  Smart Cloud Brokerage 
                </h2>
              </center>
              <ul>
                <li>1 Dashboard</li>
                <li>1 Contract</li>
                <li>1 Bill</li>
                <strong><li>All the clouds you want, at scale!</li></strong>
              </ul>
            </div>
            <center>
                <a class="btn btn-primary btn-lg" role="button" href="/products/nuvlabox">Discover &raquo;</a>
            </center>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div>
            <div>
              <center>
                <h2>
                  Smart Hybrid Cloud Solution 
                </h2>
              </center>
              <ul>
                <li>Bring together private and public clouds</li>
                <li>Move apps seamlessly between clouds</li>
                <li>Unique user experience</li>
                <strong><li>Offer choice, hide complexity!</li></strong>
              </ul>
            </div>
            <center>
                <a class="btn btn-primary btn-lg" role="button" href="/services/nuvla">Read it &raquo;</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



-->


    <div class="jumbotron quotes">
      <div class="container">
        <h2>What people say about us?</h2>
        <div class="row row-summary">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <center>
                <img src="/img/content/451-research-logo.png" alt="451 Research"/>
                <h3>
                  "SixSq delivers the type of fluid and secure cloud solutions for application deployment automation that are critical to successful businesses."
                </h3>
                <h4>
                  William Fellows, Analyst, Research Vice President and Co-founder, 451 Research
                <h4>
              </center>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <center>
                <img src="/img/content/Playgen-Logo.png" alt="PlayGen"/>
                <h3>
                  "SlipStream is much more transparent than the Amazon scaling tool &amp; the resilient scaling feature helps massively."
                </h3>
                <h4>
                  Mayur Ahir, Senior Lead Developer, PlayGen
                <h4>
                <a class="btn btn-primary btn-lg" role="button" href="http://media.sixsq.com/case-study-how-playgen-develops-software-faster-with-slipstream">Read Case Study &raquo;</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron coming-next">
      <div class="container">
        <div class="row row-summary">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <div>
                <div class="row row-summary">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>What's coming up?</h2>
                    <h3>Cloud Expo Europe</h3>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <center><img style="margin-top: 5px; max-width: 150px;" src="/img/content/blogs/logo_cee.png" alt="blog"/></center>
                  </div>
                </div>
                <div>
                  <p>Join us as we launch new cloud products and services in London, UK on 12 and 13 April 2016!</p><p>Don't have you ticket yet? We'll be happy to invite you.</p>
                  <center><a class="btn btn-primary btn-lg" role="button" href="/contact/#contact-us-form">Get in touch &raquo;</a></center>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
              <div>
                <div class="row row-summary">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2>Latest blogs</h2>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <center><img style="margin-top: 5px; max-width: 200px;" src="/img/content/blogs/logo_cyclone.png" alt="blog"/></center>
                  </div>
                </div>
                <h3>Towards Automated Cloud Application Placement</h3>
                <p>by Charles Loomis</p>
                <p>
                Ensure you can choose the best cloud service provider every time you deploy your application.
                </p>
                <center>
                    <a class="btn btn-primary btn-lg" role="button" href="http://media.sixsq.com/blog/towards-automated-cloud-application-placement">Read it &raquo;</a>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
